$ionicons-font-path: "../bower_components/ionic/fonts";

$fontPath: "../lib/fonts";

@font-face {
	font-family: Hero;
	src: url("#{$fontPath}/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("#{$fontPath}/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("#{$fontPath}/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("#{$fontPath}/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("#{$fontPath}/nexa-bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("#{$fontPath}/zag-bold.otf");
	font-weight: 600;
}

/*
$font-size-base: 16px;
$font-size-large: $font-size-base * 1.3;
$font-size-small: $font-size-base * 0.7;
*/

$jocoBlueDark: #003d5d;
$jocoBlueLight: #005777;
$jocoTanDark: darken(#dad3bc, 30%);
$jocoTanLight: #e7e1d1;
$jocoTanLighter: lighten($jocoTanLight, 6%);

$rciNavyBlue: #061557;
$rciLightBlue: #0073bb;
$rciYellow: #febd11;
$cmBabyBlue: #ddf2ff;
$darkGrey: #444;
$lightGrey: #ddd;

$cmForeground: black;
$cmForegroundAlternate: $jocoBlueLight;
$cmBackground: white;
$cmBackgroundAlternate: $jocoTanLighter;
$cmDetailForeground: $jocoTanLighter;
$cmDetailBackground: $jocoBlueDark;
$cmDetailBackgroundAlternate: $jocoBlueLight;
$cmHighlight: green;

$defaultFont: system, -apple-system, BlinkMacSystemFont, Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$defaultLightFont: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$eventListFont: system, -apple-system, BlinkMacSystemFont, Casper, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headingFont: system, -apple-system, BlinkMacSystemFont, Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$headingColor: white;
$headingBG: $jocoBlueLight;
$headings-font-weight: 700;

/* Ionic Overrides */
/* $font-family-sans-serif: $defaultFont; */
/* $font-family-light-sans-serif: $defaultLightFont; */
$dark: $cmDetailBackground;
$light: white;

$item-divider-bg: $dark;
$item-divider-color: $light;
$item-avatar-border-radius: 5px;
$item-icon-font-size: 32px;

$input-color-placeholder: #ccc !important;

$menu-animation-speed: 100ms;

$item-default-bg:                 $cmBackground;
$item-default-border:             $cmBackgroundAlternate;
$item-default-text:               $cmForeground;
$item-default-active-bg:          lighten($item-default-bg, 50%);
$item-default-active-border:      lighten($item-default-border, 50%);
$item-padding:                    10px;

$button-small-font-size:          20px;
$button-small-height:             30px;
$button-small-padding:            2px;
$button-small-icon-size:          28px;

$bar-height:                      44px;
$bar-dark-text:                   white;
$button-dark-text:                white;

$tabs-dark-bg:                    $cmDetailBackground;
$tabs-dark-border:                $cmDetailBackgroundAlternate;
$tabs-dark-text:                  white;

.tabs .tab-item.has-badge span.badge {
	color: transparent;
	background-color: transparent;
	opacity: 1;
	top: 8%;
}
.tabs .tab-item.has-badge span.badge:after {
	content: "●";
	font-size: 24px;
	color: red;
	background-color: transparent;
}

$popover-width:                   160px;

$z-index-view-below: 2;
$z-index-view-above: 3;
$z-index-bar: 9;

@import "../bower_components/ionic/scss/ionic";
@import "../node_modules/ionic-filter-bar/scss/ionic.filter.bar";

.platform-ios.platform-cordova {
	&:not(.fullscreen) {
		.filter-bar .bar-header:not(.bar-subheader) {
			height: $bar-height + $ios-statusbar-height;
			height: calc(constant(safe-area-inset-top) + #{$bar-height});
			height: calc(env(safe-area-inset-top) + #{$bar-height});

			&.item-input-inset .item-input-wrapper {
				margin-top: $ios-statusbar-height !important;
				margin-top: constant(safe-area-inset-top) !important;
				margin-top: env(safe-area-inset-top) !important;
			}
		}
	}
}

.filter-bar {
	.bar-dark .button.button-clear {
		color: $cmDetailForeground;
	}
}

@include tabs-striped('tabs-cm', $cmDetailForeground, $cmDetailBackground);
@include tabs-striped-background('tabs-background-cm', $cmDetailBackground);
@include tabs-striped-color('tabs-color-cm', $cmDetailBackground);
@include tabs-background('tabs-background-cm', $cmDetailBackground, $cmDetailForeground);

ion-tabs {
	@include tabs-standard-color('tabs-color-active-cm', $cmDetailBackground, $cmDetailForeground);
}

.platform-android .tabs-striped .tabs {
	border-bottom: 0;
}

@import "./icons";

$button-yellow-bg: $cmBackground;
$button-yellow-text: $cmForeground;
$button-yellow-border: $cmDetailBackground;
$button-yellow-active-bg: $button-light-active-bg;
$button-yellow-active-border: $cmDetailBackground;

$button-navy-bg: $cmDetailBackground;
$button-navy-text: $cmDetailForeground;
$button-navy-border: darken($cmDetailBackground, 10%);
$button-navy-active-bg: $cmDetailBackgroundAlternate;
$button-navy-active-border: $cmDetailBackgroundAlternate;

$button-blue-bg: $cmDetailBackgroundAlternate;
$button-blue-text: $cmDetailForeground;
$button-blue-border: darken($cmDetailBackgroundAlternate, 10%);
$button-blue-active-bg: $button-light-active-bg;
$button-blue-active-border: $cmDetailBackground;

.item-complex .item-content,
.item-radio .item-content {
  background-color: transparent;
}

.item p {
	color: $cmForeground;
}

$item-padding-orig: 16px;

.item-icon-left {
  padding-left: ceil( ($item-padding-orig * 3) + ($item-padding-orig / 3) );
  .icon {
    left: ceil( ($item-padding-orig / 3) * 2);
  }
}

.item-icon-right {
  padding-right: ceil( ($item-padding-orig * 3) + ($item-padding-orig / 3) );
  .icon {
    right: ceil( ($item-padding-orig / 3) * 2);
  }
}

.tweet.item {
	&.item-avatar.not-expanded, &.item-avatar.not-expanded .item-content {
		min-height: 10px !important;
		ion-content {
			min-height: 10px !important;
		}
	}

	.item-content {
		padding-right: $item-padding;
	}
}

.item {
	.muffle {
		pointer-events: none;
		opacity: 0.8;
		width: 100%;
	}

	&.not-expanded {
		.expand {
			display: none;
		}
	}
	
	&.expanded {
		.muffle {
			display: none;
		}
	}
}
.seamail .message.item {
	&.item-avatar.not-expanded, &.item-avatar.not-expanded .item-content {
		min-height: 10px !important;
		ion-content {
			min-height: 10px !important;
		}
	}
}

ion-content.seamail > ion-scroll {
	height: 100%;
}

.icon {
	&.icon-cm, &.icon-yellow {
		color: $cmDetailForeground;
		&.active {
			opacity: 1;
			color: $cmDetailForeground;
		}
	}
	&.icon-navy {
		color: $cmDetailBackground;
		&.active {
			opacity: 1;
			color: $cmDetailBackground;
		}
	}
	&.icon-blue {
		color: $cmDetailBackgroundAlternate;
		&.active {
			opacity: 1;
			color: $cmDetailBackgroundAlternate;
		}
	}
}

.platform-android .action-sheet .button {
	padding-left: 20px;
}

.cm, .yellow {
	color: $cmDetailForeground;
}

.navy {
	color: $cmDetailBackground;
}

.blue {
	color: $cmDetailBackgroundAlternate;
}

.cm-directive {
	z-index: $z-index-view-above;

	&.deck {
		img {
			display: block;
			width: 95%;
			max-width: 512px;
			margin: auto;
			margin-bottom: 10px;
			padding: 10px;
			user-drag: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
		}

		div.deck-dot {
			border-radius: 50%;
			width: 50px;
			height: 50px;
			margin-top: -25px;
			margin-left: -15px;
			position: absolute;
			z-index: $z-index-bar;
			opacity: .8;
		}
	}

	&.user {
		color: $cmForegroundAlternate;

	}
}

.amenities {
	/*
	.summary {
		margin-right: 62px;
	}
	*/
	.description {
		padding-right: 20px;
	}
}

.amenity-deck {
	.deck-title {
		padding: 10px;
		font-size: $font-size-large;
		font-weight: bold;
	}
	.deck-description {
		padding: 10px;
		font-size: $font-size-base;
	}
	&.popover {
		width: 200px;
		&.wide {
			width: 300px;
		}
	}
}

.announcements {
	p {
		font-size: $font-size-large;
	}
}

.public {
	&.button-clear {
		&.active, &.activated {
			opacity: 1
		}
	}
}

.ion-spin, .ion-load-a, .ion-load-b, .ion-load-c, .ion-load-d, .ion-loop {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.button {
	&.button-cm, &.button-yellow {
		@include button-style($button-yellow-bg, $button-yellow-border, $button-yellow-active-bg, $button-yellow-active-border, $button-yellow-text);
		@include button-clear($button-yellow-bg);
		@include button-outline($button-yellow-border);
	}

	&.button-navy {
		@include button-style($button-navy-bg, $button-navy-border, $button-navy-active-bg, $button-navy-active-border, $button-navy-text);
		@include button-clear($button-navy-bg);
		@include button-outline($button-navy-border);
	}

	&.button-blue {
		@include button-style($button-blue-bg, $button-blue-border, $button-blue-active-bg, $button-blue-active-border, $button-blue-text);
		@include button-clear($button-blue-bg);
		@include button-outline($button-blue-border);
	}
}

$button-tiny-ratio: 0.7;

.button-tiny {
  padding: 2px $button-small-padding*$button-tiny-ratio 1px;
  min-width: $button-small-height * $button-tiny-ratio;
  min-height: ($button-small-height * $button-tiny-ratio) + 2;
  font-size: $button-small-font-size * $button-tiny-ratio;
  line-height: (($button-small-height - $button-border-width) * $button-tiny-ratio) - 1;

  .icon:before,
  &.icon:before,
  &.icon-left:before,
  &.icon-right:before {
    font-size: ($button-small-icon-size * $button-tiny-ratio);
    line-height: ($button-small-icon-size * $button-tiny-ratio) + 1;
    margin-top: 1px;
	}
}

.button-small {
	min-width: 40px;
}

@media (min-width:768px) {
	.button.ion-navicon {
		display: none;
	}
}

.item {
	ul {
		list-style: disc; padding-left: 20px;
	}
}

body {
	font-family: $defaultFont;
	color: $cmForeground;
	background-color: $cmBackground;
}

a,
a:link,
a:visited,
a:hover {
	color: $cmDetailBackground;
	text-decoration: none;
}

a.tab-item:hover {
	color: inherit;
}

.bar-header {
	h1.title {
		/* font-size: 24px; */
		font-size: $font-size-large;
		line-height: $line-height-large;
		font-weight: bolder;
	}
}

ion-modal-view {
	.bar-header {
		.title {
			margin: 10px;
		}
	}
}

ion-popover-view.fit {
	height: auto !important;
}

ion-popover-view.fit ion-content {
	position: relative !important;
	background-color: transparent;
	.item {
		background-color: transparent;
		border-left: none;
		border-right: none;
	}
}

.platform-android ion-popover-view.fit {
	margin-top: 10px !important;
}

.add-event-form span.invalid {
	float: right;
	color: red;
	padding-right: 10px;
}

$radio-icon-circle-checked: "\f400";
$radio-icon-circle-unchecked: "\f401";

.settings {
	$settings-border-color: $cmBackgroundAlternate;
	.login-form {
		p {
			font-size: $font-size-base;
		}
	}
	.item {
		border: none;
		/*border-color: $settings-border-color;*/
		&.item-input {
			padding-left: 6px;
			padding-right: 6px;
		}
		input[type="text"], input[type="password"], input[type="url"], #loginUsername, #loginPassword {
			background-color: lighten($cmBackgroundAlternate, 4%);
			margin-top: 5px;
			margin-bottom: 5px;
			padding-left: 4px;
			padding-right: 4px;
			width: 100%;
			border: 1px solid darken($cmBackgroundAlternate, 15%);
			border-radius: 3px;
		}
	}

	.radio-content .item-content {
		background-color: transparent !important;
	}

	label.item-radio.checked > div.radio-content > i.radio-icon {
		&::before {
			content: $radio-icon-circle-checked !important;
		}
		visibility: visible;
	}

	label.item-radio.unchecked > div.radio-content > i.radio-icon {
		&::before {
			content: $radio-icon-circle-unchecked !important;
		}
		visibility: visible;
	}

	.heading {
		font-weight: bold;
		font-size: $font-size-large;
		line-height: $line-height-large;
		border-top: 2px solid $cmDetailBackground;
		border-bottom: 2px solid $cmDetailBackground;
		background-color: darken($cmBackgroundAlternate, 10%);
	}
	.nobottom {
		border-bottom: none;
	}
	.notop {
		border-top: none;
	}
	.smaller {
		font-size: $font-size-small;
	}
	.input-label.wide {
		width: 100%;
	}
}

.user-detail {
	width: 250px;
	.room {
		color: $cmForegroundAlternate;
		text-decoration: underline;
	}
	.profile-info {
		padding: 10px;
		img {
			max-width: 100px;
			max-height: 100px;
			min-width: 50px;
			min-height: 50px;
			border-radius: 5px;
		}
		p {
			margin: 0;
		}
		.row {
			.col {
				text-align: center;
				margin: 0;
				padding: 3px;
			}
			margin: 0;
			padding: 0;
		}
	}
}

.read {
	color: transparent;
	background-color: transparent;
}
.read:after {
	color: transparent;
	font-size: $font-size-large;
	line-height: $line-height-large;
	content: "●";
}
.unread {
	color: transparent;
}
.unread:after {
	color: red;
	font-size: $font-size-large;
	line-height: $line-height-large;
	content: "●";
}

.info {
	.item {
		color: $cmDetailBackground;
	}
}

.profile {
	label.item.item-input.item-profile {
		height: 80px + ($item-padding * 2);
		.input-label {
			position: absolute;
			top: $item-padding;
		}
		div.img-container {
			display: block;
			position: absolute;
			right: $item-padding;
		}
		img {
			height: 80px;
			/*
			display: block;
			position: absolute;
			right: $item-padding;
			*/
		}
	}
}

.forums {
	.item-divider {
		h2 {
			color: $cmDetailForeground;
		}
	}
	.item {
		.title {
			font-family: $headings-font-family;
			font-weight: $headings-font-weight;
			line-height: $headings-line-height;
			font-size: $font-size-large;
		}
		.last-reply {
			opacity:.8;
			font-size: $font-size-base;
		}
		.post-photo {
			width: 100%;
			max-width: 400px;
		}
	}
}

.games {
	.name {
		vertical-align: text-top;
	}
	.count {
		vertical-align: text-top;
	}
}

.karaoke {
	.artist-entry {
		padding: 8px;
		font-size: $font-size-base;
		.song {
			margin-left: 10px;
		}
		.metadata {
			float: right;
			font-size: smaller;
			opacity:0.8;
		}
	}
}

.emoji-popover {
	padding: 10px;
	img.emoji {
		width: 40px;
		height: 40px;
		display: inline-block;
		margin: 5px;
	}
}

i {
	&.emoji {
		width: 20px;
		height: 20px;
		display: inline-block;
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}
	&.emoji.large {
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
	}

	&.buffet {
		background-image: url('../lib/emoji/images/buffet-80.png')
	}
	&.die {
		background-image: url('../lib/emoji/images/die-80.png')
	}
	&.fez {
		background-image: url('../lib/emoji/images/fez-80.png')
	}
	&.hottub {
		background-image: url('../lib/emoji/images/hottub-80.png')
	}
	&.joco {
		background-image: url('../lib/emoji/images/joco-80.png')
	}
	&.pirate {
		background-image: url('../lib/emoji/images/pirate-80.png')
	}
	&.ship {
		background-image: url('../lib/emoji/images/ship-80.png')
	}
	&.ship-front {
		background-image: url('../lib/emoji/images/ship-front-80.png')
	}
	&.towel-monkey {
		background-image: url('../lib/emoji/images/towel-monkey-80.png')
	}
	&.tropical-drink {
		background-image: url('../lib/emoji/images/tropical-drink-80.png')
	}
	&.zombie {
		background-image: url('../lib/emoji/images/zombie-80.png')
	}
}

.display-starred {
	vertical-align: middle;
}

.display-name {
	white-space: nowrap;
	font-size: $font-size-base;
	font-weight: bold;
}

.display-handle {
	white-space: nowrap;
	padding-left: 5px;
	font-size: $font-size-small;
	font-weight: 300;
	opacity:.8;
}

.timestamp {
	color: rgba($cmForeground,0.8);
	font-size: $font-size-base;
}

@import "../lib/today/today";

.twitarr {
	.tweet-input {
		textarea {
			font-size: $font-size-large;
			line-height: $line-height-large;
			background-color: transparent;
			width: 100%;
		}
	}
	.tweet-reply {
		opacity: .4;
	}
	.item {
		.user {
			white-space: nowrap;
		}
	}
	.tweet-text {
		font-size: $font-size-large;
		line-height: $line-height-large;
		white-space: pre-wrap;
	}
	.timeframe {
		opacity:.8;
		font-size: $font-size-base;
	}
	.item-note {
		text-align: right;
	}
	.likes {
		img, i {
			width: 20px;
			height: 20px;
			border-radius: 2px;
		}
	}
	img.emoji {
		width: 20px;
		height: 20px;
	}
	.commands {
		text-align: right;
		.button {
			padding-left: 0;
			padding-right: 0;
			min-height: 20px;
			max-height: 32px;
			min-width: 20px;
			max-width: 32px;
		}
	}

	.unread-count {
		z-index: $z-index-bar;
		position: fixed;
		top: $bar-height;
		right: 0;
		padding: 2px 12px;
		margin: 0 2px;
		min-width: 40px;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $cmDetailForeground;
		background-color: $cmDetailBackground;
	}
}

.image-viewer {
	.image-modal {
		width: 100% !important;
		height: 100%;
		top: $bar-height + $ios-statusbar-height !important;
		left: 0 !important;
	}

	.transparent {
		background: rgba(0,0,0,0.8);
	}

	.slider {
		width: 100%;
		height: 100%;
	}

	.image {
		width: 100%;
		/* height: 600px; */
		height: 100%;
		min-height: 600px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center, center;
		z-index: $z-index-view-above;
	}
}

.platform-ios.platform-cordova {
	&:not(.fullscreen) {
		.twitarr {
			.unread-count {
				top: $bar-height + $ios-statusbar-height;
			}
		}
	}
}

.seamail {
	p, textarea {
		font-size: $font-size-large;
		line-height: $line-height-large;
		color: $cmForeground;
	}
	.users {
		overflow: visible;
		white-space: normal;
		padding: 2px;
		/*margin: 0;*/
		min-height: 25px;
		img {
			min-height: 15px;
			max-height: 26px;
			min-width: 15px;
			max-width: 26px;
			border-radius: 3px;
			padding: 2px 5px;
			vertical-align: middle;
		}
		.toggle {
			/*
			margin: 0;
			padding: 5px 0;
			*/
			display: block;
			width: 100%;
			font-size: $font-size-base;
		}
		.user {
			display: inline-block;
			padding: 2px 5px;
			white-space: nowrap;
			vertical-align: middle;
		}
		&.list-view .user {
			display: block;
		}
	}
	.item {
		.title {
			font-family: $headings-font-family;
			font-weight: $headings-font-weight;
			line-height: $headings-line-height;
			font-size: $font-size-large;
		}
	}

	.timestamp {
		display: block;
	}

	.col-post {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50px;
		-moz-box-flex: 0;
		-moz-flex: 0 0 50px;
		-ms-flex: 0 0 50px;
		flex: 0 0 50px;
		max-width: 50px;
		padding: 0;
	}

	.bar {
		&.bar-light {
			@include bar-style(white, $cmBackgroundAlternate, $cmForeground);
			&.bar-footer {
				background-image: none;
				border-top: 1px solid $cmBackgroundAlternate;
			}
		}
	}
}

.searchable {
	.highlight {
		color: $cmDetailForeground;
		background-color: $cmHighlight;
	}
}

.list-entry {
	.item-note {
		margin: -10px;
	}
}

/*
 * Events
 */

.list {
	margin-bottom: 0px;
}

.modal {
	.list {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.events-chooser {
	.item {
		border: none
	}
}

$officialEventColor: mx($cmDetailBackgroundAlternate, $cmForeground, 50%);
$unofficialEventColor: $cmForeground;

$officialMarkerColor: mix($cmDetailBackgroundAlternate, $cmBackground, 60%);
$myMarkerColor: mix($cmHighlight, $cmBackgroundAlternate, 50%);

$eventMarkerSize: 8px;

ion-item.item.item-text-wrap.list-entry.official.odd {
	color: $officialEventColor;
	background-color: $cmBackgroundAlternate !important;
	border-left: $eventMarkerSize solid $officialMarkerColor;
}
ion-item.item.item-text-wrap.list-entry.official.even {
	color: $officialEventColor;
	background-color: $cmBackground !important;
	border-left: $eventMarkerSize solid $officialMarkerColor;
}
ion-item.item.item-text-wrap.list-entry.unofficial.odd {
	color: $unofficialEventColor;
	background-color: $cmBackgroundAlternate !important;
	border-left: $eventMarkerSize solid $cmBackgroundAlternate;
	&.mine {
		border-left: $eventMarkerSize solid $myMarkerColor;
	}
}
ion-item.item.item-text-wrap.list-entry.unofficial.even {
	color: $unofficialEventColor;
	background-color: $cmBackground !important;
	border-left: $eventMarkerSize solid $cmBackground;
	&.mine {
		border-left: $eventMarkerSize solid $myMarkerColor;
	}
}

.event-edit {
	.disabled {
		opacity:.3;
	}

	.date-edit {
		i, input, span {
			margin: 5px;
			padding: 5px;
		}
		i {
			margin-right: 0;
		}
		input, span {
			margin-left: 0;
		}
		.picker {
			display: inline-block;
			background-color: $cmBackgroundAlternate;
			border-radius: 5px;
			font-size: $font-size-base;
			font-weight: normal;

			.date {
				width: 100px;
			}
			.time {
				width: 80px;
				font-size: $font-size-base;
				font-weight: normal;
			}
		}
	}
	/*
	input[type="date"], input[type="time"] {
		display: inline-block;
		width: 80px;
	}

	.date-edit {
		i, input, span {
			margin: 5px;
			padding: 5px;
		}
		input, span {
			background-color: $cmBackgroundAlternate;
		}
	}
	*/
}

.event-list {
	font-family: $eventListFont;

	.item-note {
		.button {
			padding-left: 2px;
			padding-right: 2px;
			min-width: 36px;
		}
	}

	.event-header {
		font-family: $headingFont;
		font-size: $font-size-large;
		line-height: $line-height-large;
		padding-top: 6px;
		padding-right: 10px;
		padding-bottom: 6px;
		color: $headingColor;
		background-color: $headingBG;
		margin-top: -1;
		margin-bottom: 0;
		border-color: $cmDetailBackground;
		i.icon {
			font-size: 16px;
			line-height: 19px;
		}
	}

}

.summary {
	font-size: $font-size-large;
	line-height: $line-height-large;
	font-weight: 900;
	padding: 2px;
	margin-right: 62px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: $font-size-base;
	padding: 2px;
}

.description {
	margin-top: 12px;
	padding: 2px;
	font-size: $font-size-large;
	line-height: $line-height-large;
}

.name {
	font-size: $font-size-base;
	font-weight: bold;
}

/*
 * Deck Plans
 */

.deck-plans {
	overflow-x: hidden;
	/* width: 100%; */
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

	.icon-blank {
		color: transparent;
	}

	div.placeholder {
		width: 220px;
		margin: auto;
		height: 220px;
		margin-top: 20px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;

		i.icon {
			display: block;
			user-drag: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			font-size: 200px;
			text-align: center;
		}
	}

	$pager-height: 18px;
	.has-footer {
		bottom: $pager-height;
		&.has-tabs {
			bottom: $tabs-height + $pager-height;
		}
	}
}

.cm-slider.bar {
	height: 18px;
	background-color: $cmDetailForeground;
	.slider-pager {
		height: 18px;
		bottom: 0;
		.slider-pager-page {
			line-height: 14px;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
}

/*
.user-sizeable-min {
	overflow: visible;
	white-space: normal;
	font-size: 150%;
	line-height: 150%;
}

.user-sizeable {
	overflow: visible;
	white-space: normal;
	font-size: 200%;
	line-height: 200%;
}
*/

@import "./conduct";
