$ionicons-font-path: "../bower_components/ionic/release/fonts";

$fontPath: "../www/fonts";
$imagePath: "../www/images";

$yellowSVG: "#{$imagePath}/entypo/yellow/SVG";
$greySVG: "#{$imagePath}/entypo/grey/SVG";

@font-face {
	font-family: Hero;
	src: url("#{$fontPath}/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("#{$fontPath}/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("#{$fontPath}/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("#{$fontPath}/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("#{$fontPath}/nexa-bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("#{$fontPath}/zag-bold.otf");
	font-weight: 600;
}

$rciNavyBlue: #061557;
$rciLightBlue: #0073bb;
$rciYellow: #febd11;
$cmBabyBlue: #ddf2ff;
$darkGrey: #444;
$lightGrey: #ddd;

$defaultFont: Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$defaultLightFont: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$eventListFont: Casper, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sidebarHeaderFont: Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headerFont: $sidebarHeaderFont;

$gutterShadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
$gutterTransition: all 0.1s ease-out;
$gutterSeparator: 1px solid #aaa;

$gutterBG: #ccc;
$gutterColor: black;

$gutterDisabledColor: #bbb;

$gutterSelectedBG: #333;
$gutterSelectedColor: white;

$gutterHoverBG: $cmBabyBlue;
$gutterHoverColor: black;

$simpleBorder: 1px solid black;

$headerColor: $rciYellow;
$headerBG: $rciNavyBlue;

$contentBG: #f8f8f8;

$mainBG: white;
$alternateBG: $cmBabyBlue;

$gutterMonkey: url(../images/cruise-monkey-transparent-bg.png);

/* Ionic Overrides */
/* $font-family-sans-serif: $defaultFont; */
/* $font-family-light-sans-serif: $defaultLightFont; */
$dark: $rciNavyBlue;
$light: white;

$item-divider-bg: $dark;
$item-divider-color: $light;
$item-avatar-border-radius: 5px;

$input-color-placeholder: #ccc !important;

$menu-animation-speed: 100ms;

$item-default-bg:                 $light;
$item-default-border:             $lightGrey;
$item-default-text:               $darkGrey;
$item-default-active-bg:          $light;
$item-default-active-border:      $lightGrey;
$item-padding:                    10px;

$button-small-font-size:          20px;
$button-small-height:             30px;
$button-small-padding:            2px;
$button-small-icon-size:          28px;

$bar-dark-text:                   $rciYellow;
$button-dark-text:                $rciYellow;

$tabs-dark-bg:                    $dark;
$tabs-dark-border:                $rciLightBlue;
$tabs-dark-text:                  $rciYellow;

.tabs-cm .tab-item.has-badge span.badge {
	opacity: 1;
}

$popover-width:                   160px;
/* $popover-bg-color:                $dark; */

#toast-container > div {
	opacity: 0.95;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
	filter: alpha(opacity=95);
}
.toast-info {
	background-color: $rciLightBlue;
}

@import "../bower_components/ionic/scss/ionic";
@import "../bower_components/ionic-filter-bar/scss/ionic.filter.bar";

.filter-bar {
	.bar-dark .button.button-clear {
		color: $rciYellow;
	}
}

@include tabs-striped('tabs-cm', $rciYellow, $dark);
@include tabs-striped-background('tabs-background-cm', $dark);
@include tabs-striped-color('tabs-color-cm', $dark);
@include tabs-background('tabs-background-cm', $dark, $rciLightBlue);

ion-tabs {
	@include tabs-standard-color('tabs-color-active-cm', $dark, $rciYellow);
}

/** icons **/
.cm-icon-calendar {
	@extend .ion-calendar;
}
.cm-icon-camera {
	@extend .ion-camera;
}
.cm-icon-chatbox {
	@extend .ion-chatbox;
}
.cm-icon-clock {
	@extend .ion-clock;
}
.cm-icon-compose {
	@extend .ion-compose;
}
.cm-icon-email {
	@extend .ion-email;
}
.cm-icon-home {
	@extend .ion-home;
}
.cm-icon-image {
	@extend .ion-image;
}
.cm-icon-info {
	@extend .ion-information-circled;
}
.cm-icon-more {
	@extend .ion-more;
}
.cm-icon-music-note {
	@extend .ion-music-note;
}
.cm-icon-plus {
	@extend .ion-plus;
}
.cm-icon-refresh {
	@extend .ion-refresh;
}
.cm-icon-search {
	@extend .ion-search;
}
.cm-icon-send {
	@extend .ion-paper-airplane;
}
.cm-icon-settings {
	@extend .ion-settings;
}

.platform-android {
	.cm-icon-calendar {
		@extend .ion-android-calendar;
	}
	.cm-icon-camera {
		@extend .ion-android-camera;
	}
	.cm-icon-chatbox {
		@extend .ion-android-chat;
	}
	.cm-icon-clock {
		@extend .ion-android-time;
	}
	.cm-icon-email {
		@extend .ion-android-mail;
	}
	.cm-icon-image {
		@extend .ion-android-image;
	}
	.cm-icon-more {
		@extend .ion-android-more-vertical;
	}
	.cm-icon-plus {
		@extend .ion-android-add;
	}
	.cm-icon-refresh {
		@extend .ion-ion-android-refresh;
	}
	.cm-icon-search {
		@extend .ion-android-search;
	}
	.cm-icon-send {
		@extend .ion-android-send;
	}
	.cm-icon-settings {
		@extend .ion-android-settings;
	}
}
.platform-ios {
	.cm-icon-calendar {
		@extend .ion-ios-calendar-outline;
	}
	.cm-icon-camera {
		@extend .ion-ios-camera;
	}
	.cm-icon-chatbox {
		@extend .ion-ios-chatboxes;
	}
	.cm-icon-clock {
		@extend .ion-ios-clock-outline;
	}
	.cm-icon-compose {
		@extend .ion-ios-compose-outline;
	}
	.cm-icon-email {
		@extend .ion-ios-email;
	}
	.cm-icon-home {
		@extend .ion-ios-home;
	}
	.cm-icon-info {
		@extend .ion-ios-information;
	}
	.cm-icon-more {
		@extend .ion-ios-more;
	}
	.cm-icon-music-note {
		@extend .ion-ios-musical-notes;
	}
	.cm-icon-plus {
		@extend .ion-ios-plus-empty;
	}
	.cm-icon-refresh {
		@extend .ion-ios-refresh-empty;
	}
	.cm-icon-search {
		@extend .ion-ios-search;
	}
	.cm-icon-send {
		@extend .ion-ios-paperplane;
	}
	.cm-icon-settings {
		@extend .ion-ios-cog;
	}
}

$button-yellow-bg: $rciYellow;
$button-yellow-text: $rciNavyBlue;
$button-yellow-border: $rciNavyBlue;
$button-yellow-active-bg: $button-light-active-bg;
$button-yellow-active-border: $rciNavyBlue;

$button-navy-bg: $rciNavyBlue;
$button-navy-text: $rciYellow;
$button-navy-border: darken($rciNavyBlue, 10%);
$button-navy-active-bg: $rciLightBlue;
$button-navy-active-border: $rciNavyBlue;

$button-blue-bg: $rciLightBlue;
$button-blue-text: $rciNavyBlue;
$button-blue-border: $rciNavyBlue;
$button-blue-active-bg: $button-light-active-bg;
$button-blue-active-border: $rciNavyBlue;

.item-complex .item-content,
.item-radio .item-content {
  background-color: transparent;
}

$item-padding-orig: 16px;

.item-icon-left {
  padding-left: ceil( ($item-padding-orig * 3) + ($item-padding-orig / 3) );
  .icon {
    left: ceil( ($item-padding-orig / 3) * 2);
  }
}

.item-icon-right {
  padding-right: ceil( ($item-padding-orig * 3) + ($item-padding-orig / 3) );
  .icon {
    right: ceil( ($item-padding-orig / 3) * 2);
  }
}

.cm-dice {
	@extend .ion;
	font-family: sans-serif;
}

.cm-dice:before {
	content: "\2685";
}

.cm, .yellow {
	color: $rciYellow;
}

.navy {
	color: $rciNavyBlue;
}

.blue {
	color: $rciLightBlue;
}

.icon {
	&.icon-cm, &.icon-yellow {
		color: $rciYellow;
		&.active {
			opacity: 1;
			color: $rciYellow;
		}
	}
	&.icon-navy {
		color: $rciNavyBlue;
		&.active {
			opacity: 1;
			color: $rciNavyBlue;
		}
	}
	&.icon-blue {
		color: $rciLightBlue;
		&.active {
			opacity: 1;
			color: $rciLightBlue;
		}
	}
}

.public {
	&.button-clear {
		&.active, &.activated {
			opacity: 1
		}
	}
}

.ion-spin, .ion-load-a, .ion-load-b, .ion-load-c, .ion-load-d, .ion-loop {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.cm-slider.bar {
	height: 18px;
	.slider-pager {
		height: 18px;
		bottom: 0;
		.slider-pager-page {
			line-height: 14px;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
	background-color: #f4f4f4;
}

.button {
	&.button-cm, &.button-yellow {
		@include button-style($button-yellow-bg, $button-yellow-border, $button-yellow-active-bg, $button-yellow-active-border, $button-yellow-text);
		@include button-clear($button-yellow-bg);
		@include button-outline($button-yellow-border);
	}

	&.button-navy {
		@include button-style($button-navy-bg, $button-navy-border, $button-navy-active-bg, $button-navy-active-border, $button-navy-text);
		@include button-clear($button-navy-bg);
		@include button-outline($button-navy-border);
	}

	&.button-blue {
		@include button-style($button-blue-bg, $button-blue-border, $button-blue-active-bg, $button-blue-active-border, $button-blue-text);
		@include button-clear($button-blue-bg);
		@include button-outline($button-blue-border);
	}
}

.button-small {
	min-width: 40px;
}

@media (min-width:768px) {
	.button.ion-navicon {
		display: none;
	}
}

.help {
	.item {
		ul {
			list-style: disc;
			padding-left: 10px;
		}
	}
}

.bar-bold {
	font-family: $sidebarHeaderFont;
	font-weight: bold;
	font-size: 26px;
}

div.cm-notification {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(50,50,50,.7);
	z-index: 5000;

	div.cm-notification-inner {
		display: inline-block;
		padding: 5px;
		width: 90%;
		float: left;
		color: white;
		font-family: $eventListFont;
		font-weight: bold;
		font-size: 20px;
	}

	div.cm-notification-spinner {
		float: right;
		position: fixed;
		padding: 5px;
		right: 0;
		bottom: 0;
		color: white;
		font-size: 20px;
	}
}

body {
  font-family: $defaultFont;
	color: $darkGrey;
}

a:link,
a:visited,
a:hover {
	color: black;
	text-decoration: none;
}

a.tab-item:hover {
	color: inherit;
}

.bar-header {
	h1.title {
		/* font-size: 24px; */
		font-weight: bolder;
	}
}

.bar {
	.button {
		padding-left: 6px;
		padding-right: 6px;
	}
	.button.button-clear .icon:before, .button.button-clear.icon:before, .button.button-clear.icon-left:before, .button.button-clear.icon-right:before {
		font-size: 24px;
	}
}

ion-popover-view.fit {
	height: auto !important;
	/*background-color: $dark;*/
}

ion-popover-view.fit ion-content {
	position: relative !important;
	background-color: transparent;
	.item {
		background-color: transparent;
	}
}

.platform-android ion-popover-view.fit {
	margin-top: 10px !important;
}

.events-chooser {
	.item {
		color: $dark;
		background-color: $dark;
		border: 0;
	}
}

.add-event-form span.invalid {
	float: right;
	color: red;
}

.settings {
	.item {
		border:0;
		border-top: 1px solid white;
	}
	.heading {
		font-weight: bold;
		font-size: $font-size-large;
		border-top: 1px solid $dark;
		border-bottom: 2px solid $dark;
		background-color: #ddd;
	}

	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		border: 1px solid $dark;
	 	padding: 2px;
	 	padding-left: 5px;
	 	padding-right: 5px;
	 	margin-left: 5px;
	 	margin-right: 5px;
	}

}

.user-detail {
	.profile-info {
		padding: 10px;
		img {
			max-width: 100px;
			max-height: 100px;
			min-width: 50px;
			min-height: 50px;
			border-radius: 5px;
		}
		p {
			margin: 0;
		}
		.row {
			.col {
				text-align: center;
				margin: 0;
				padding: 3px;
			}
			margin: 0;
			padding: 0;
		}
	}
}

.info {
	.item {
		color: $rciNavyBlue;
	}
}

.forums {
	.last-reply {
		opacity:.4;
		font-size: smaller;
	}
}
.karaoke {
	.artist-entry {
		font-size: 14px;
		.song {
			margin-left: 10px;
		}
	}
}

.emoji-popover {
	img.emoji {
		width: 40px;
		height: 40px;
		display: inline;
		margin: 5px;
	}
}

.twitarr {
	.tweet-input {
		textarea {
			background-color: transparent;
			width: 100%;
		}
		/*
		.button-emoji {
			min-width: 24px;
			min-height: 24px;
			width: 32px;
			height: 32px;
			border: 0;
			padding: 0;
		}
		.button-emoji > i {
			line-height: 24px;
		}
		*/
	}
	.item {
		.user {
			white-space: nowrap;
			.display-name {
				white-space: nowrap;
				font-size: $font-size-base;
				font-weight: bold;
			}
			.display-handle {
				white-space: nowrap;
				padding-left: 5px;
				font-size: $font-size-small;
				font-weight: 300;
				opacity: .5;
			}
		}
	}
	.tweet-text {
		font-size: $font-size-large;
	}
	.timeframe {
		opacity: .7;
		font-size: $font-size-base;
	}
	.item-note {
		text-align: right;
	}
	.likes {
		img, i {
			width: 20px;
			height: 20px;
			border-radius: 2px;
		}
	}
	img.emoji {
		width: 20px;
		height: 20px;
	}
	.commands {
		text-align: right;
		.button {
			padding-left: 0;
			padding-right: 0;
			min-height: 20px;
			max-height: 30px;
			min-width: 20px;
			max-width: 30px;
		}
	}

	.unread-count {
		z-index: 10000;
		position: fixed;
		top: $bar-height;
		right: 0;
		padding: 2px 12px;
		margin: 0 2px;
		min-width: 40px;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $rciYellow;
		background-color: $rciNavyBlue;
	}
	.image-modal {
		width: 100% !important;
		height: 100%;
		top: 0 !important;
		left: 0 !important;
	}

	.transparent {
		background: rgba(0,0,0,0.7);
	}

	.slider {
		width: 100%;
		height: 100%;
	}

	.image {
		width: 100%;
		height: 600px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center, center;
	}
}

.platform-ios.platform-cordova {
	&:not(.fullscreen) {
		.twitarr {
			.unread-count {
				top: $bar-height + $ios-statusbar-height;
			}
		}
	}
}

.seamail {
	.users {
		padding: 0;
		margin: 0;
		min-height: 25px;
		img {
			min-height: 15px;
			max-height: 20px;
			min-width: 15px;
			max-width: 20px;
			border-radius: 3px;
			padding: 2px;
			vertical-align: middle;
		}
		.user {
			padding-left: 10px;
			padding-right: 10px;
			white-space: nowrap;
			/* display: table-cell; */
			vertical-align: middle;
			/* max-height: 30px; */
		}
	}
	.bar-subheader {
		padding: 0;
		.row {
			padding: 0;
		}
		img {
			display: inline;
			min-height: 30px;
			max-height: 36px;
			min-width: 30px;
			max-width: 36px;
			border-radius: 5px;
			padding: 2px;
			vertical-align: middle;
		}
		textarea {
			display: inline;
			height: 36px;
		}
	}
	.timestamp {
		display: block;
		color: #aaa;
		font-size: $font-size-small;
	}
}

.searchable {
	.highlight {
		background-color: $rciYellow;
	}	
}

.list-entry {
	border-bottom: $simpleBorder;
	/*
	padding: 10px;
	*/
	.item-note {
		margin: -10px;
	}
}

ion-side-menu {
	.item.active {
		background-color: $cmBabyBlue;
		/* border-bottom: 3px solid $item-default-active-border; */
		.item-content {
			background-color: transparent;
		}
	}
}

#nav li.item > * {
	display: inline-block;
	width: 100%;
	padding: 4px;
}

#nav li.item > *.active {
	background-color: $cmBabyBlue;
}

/*
 * Events
 */

.list {
	margin-bottom: 0px;
}

.modal {
	.list {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.event-list {
	font-family: $eventListFont;
	
	.odd {
		background-color: $mainBG;
	}
	.even {
		background-color: $alternateBG;
	}

	.item-note {
		.button {
			padding-left: 2px;
			padding-right: 2px;
			min-width: 36px;
		}
	}

	.event-header {
		font-family: $headerFont;
		font-size: $font-size-large;
		padding: 5px;
		color: $headerColor;
		background-color: $headerBG;
		margin-top: -1;
		margin-bottom: 0;
		border-color: #000;
	}
	
}

.summary {
	font-size: 15pt;
	font-weight: bold;
	padding: 2px;
	margin-right: 62px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: 12pt;
	padding: 2px;
}

.description {
	margin-top: 12px;
	padding: 2px;
	font-size: 12pt;
}

.name {
	font-size: 12pt;
	font-weight: bold;
}

/*
 * Deck Plans
 */

.deck-plans {
	overflow-x: hidden;
	/* width: 100%; */
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

	div.placeholder {
		width: 220px;
		margin: auto;
		height: 220px;
		margin-top: 20px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;

		i.icon {
			display: block;
			user-drag: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			font-size: 200px;
			text-align: center;
		}
	}

	img {
		display: block;
		width: 90%;
		max-width: 500px;
		margin: auto;
		margin-bottom: 10px;
		padding: 10px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
	}
}
