$ionicons-font-path: "../lib/ionic/fonts" !default;

$fontPath: "../fonts" !default;
$imagePath: "../images" !default;

$yellowSVG: "#{$imagePath}/entypo/yellow/SVG";
$greySVG: "#{$imagePath}/entypo/grey/SVG";

@font-face {
	font-family: Hero;
	src: url("#{$fontPath}/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("#{$fontPath}/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("#{$fontPath}/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("#{$fontPath}/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("#{$fontPath}/nexa-bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("#{$fontPath}/zag-bold.otf");
	font-weight: 600;
}

/* $controlYellow: #ffc600; */
$controlYellow: #f2be00;
$cmBabyBlue: #ddf2ff;

$defaultFont: Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$defaultLightFont: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$eventListFont: Casper, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sidebarHeaderFont: Nexa, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$headerFont: $sidebarHeaderFont;

$gutterShadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
$gutterTransition: all 0.1s ease-out;
$gutterSeparator: 1px solid #aaa;

$gutterBG: #ccc;
$gutterColor: black;

$gutterDisabledColor: #bbb;

$gutterSelectedBG: #333;
$gutterSelectedColor: white;

$gutterHoverBG: $cmBabyBlue;
$gutterHoverColor: black;

$simpleBorder: 1px solid black;

$headerColor: white;
$headerBG: black;

$contentBG: #f8f8f8;

$mainBG: white;
$alternateBG: $cmBabyBlue;

$navWidth: 250px;

$gutterMonkey: url(../images/cruise-monkey-transparent-bg.png);

/* Ionic Overrides */
/* $font-family-sans-serif: $defaultFont; */
/* $font-family-light-sans-serif: $defaultLightFont; */
$dark: black;
$light: white;
$item-divider-bg: $dark;
$item-divider-color: $light;
$menu-animation-speed: 100ms;

$item-default-bg:                 $light;
$item-default-border:             #ddd;
$item-default-text:               #444;
$item-default-active-bg:          $light;
$item-default-active-border:      #444;

@import "www/lib/ionic/scss/ionic";

.item-complex .item-content,
.item-radio .item-content {
  background-color: transparent;
}

.cm-dice {
	@extend .ion;
	font-family: sans-serif;
}

.cm-dice:before {
	content: "\2685";
}

.icon {
	&.icon-cm {
		/* color: black; */
		color: $controlYellow;
		&.active {
			opacity: 1;
			color: $controlYellow;
		}
	}
}

.cm-slider.bar {
	height: 18px;
	.slider-pager {
		height: 18px;
		bottom: 0;
		.slider-pager-page {
			line-height: 14px;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
	background-color: #f4f4f4;
}

.button {
	&.button-cm {
		color: $controlYellow;
		&.active {
			opacity: 1;
			color: $controlYellow;
		}
	}
}

@media (min-width:768px) {
	.button.ion-navicon {
		display: none;
	}
}

.help {
	.item {
		ul {
			list-style: disc;
			padding-left: 10px;
		}
	}
}

.bar-bold {
	font-family: $sidebarHeaderFont;
	font-weight: bold;
	font-size: 26px;
}

div.cm-notification {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(50,50,50,.7);
	z-index: 5000;

	div.cm-notification-inner {
		display: inline-block;
		padding: 5px;
		width: 90%;
		float: left;
		color: white;
		font-family: $eventListFont;
		font-weight: bold;
		font-size: 20px;
	}

	div.cm-notification-spinner {
		float: right;
		position: fixed;
		padding: 5px;
		right: 0;
		bottom: 0;
		color: white;
		font-size: 20px;
	}
}

body {
  font-family: $defaultFont;
	color: #444;
}

a:link,
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
}

.bar-header {
	h1.title {
		/* font-size: 24px; */
		font-weight: bolder;
	}
}

.bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
	font-size: 24px;
}

.bar .title + .buttons {
	/* min-width: 65px; */
	overflow: visible;
	max-height: 33px;
	top: 4px;
	bottom: 4px;
	right: 4px;
}

.add-event-form span.invalid {
	float: right;
	color: red;
}

.list-entry {
	border-bottom: $simpleBorder;
	/*
	padding: 10px;
	*/
}

ion-side-menu {
	.item.active {
		background-color: $cmBabyBlue;
		.item-content {
			background-color: transparent;
		}
	}
}

#nav li.item > * {
	display: inline-block;
	width: 100%;
	padding: 8px;
}

#nav li.item > *.active {
	background-color: $cmBabyBlue;
}

/*
 * Events
 */

.list {
	margin-bottom: 0px;
}

.event-list {
	font-family: $eventListFont;
	
	.odd {
		background-color: $mainBG;
	}
	.even {
		background-color: $alternateBG;
	}

	.event-header {
		font-family: $headerFont;
		font-size: 20px;
		padding: 5px;
		color: $headerColor;
		background-color: $headerBG;
		margin-top: 0;
		margin-bottom: 0;
		border-color: #000;
	}
	
}

.summary {
	font-size: 15pt;
	font-weight: bold;
	padding: 2px;
	margin-right: 32px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: 12pt;
	padding: 2px;
}

.description {
	margin-top: 12px;
	padding: 2px;
	font-size: 12pt;
}

.name {
	font-size: 12pt;
	font-weight: bold;
}

/*
 * Deck Plans
 */

.deck-plans {
	overflow-x: hidden;
	width: 100%;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

	div.placeholder {
		width: 220px;
		margin: auto;
		height: 220px;
		margin-top: 20px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;

		i.icon {
			display: block;
			user-drag: none;
			-moz-user-select: none;
			-webkit-user-drag: none;
			font-size: 200px;
			text-align: center;
		}
	}

	img {
		display: block;
		width: 90%;
		max-width: 500px;
		margin: auto;
		margin-bottom: 10px;
		padding: 10px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
	}
}
