html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.mobile-frame {
	width: 100%;
	position: relative;
	overflow: hidden;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	transition: transform .2s linear;
}

.mobile-content {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.mobile-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}