$fontPath: "../fonts" !default;
$imagePath: "../images" !default;

$yellowSVG: "#{$imagePath}/entypo/yellow/SVG";
$greySVG: "#{$imagePath}/entypo/grey/SVG";

@font-face {
	font-family: Hero;
	src: url("#{$fontPath}/hero.otf");
}

@font-face {
	font-family: Dekar;
	src: url("#{$fontPath}/dekar.otf");
}

@font-face {
	font-family: Casper;
	src: url("#{$fontPath}/casper.ttf");
}

@font-face {
	font-family: Intro;
	src: url("#{$fontPath}/intro.otf");
	font-weight: 700;
}

@font-face {
	font-family: Nexa;
	src: url("#{$fontPath}/nexa-bold.otf");
	font-weight: 700;
}

@font-face {
	font-family: Zag;
	src: url("#{$fontPath}/zag-bold.otf");
	font-weight: 600;
}

/* $controlYellow: #ffc600; */
$controlYellow: #f2be00;
$cmBabyBlue: #ddf2ff;

$defaultFont: Hero, sans-serif;
$eventListFont: Casper, sans-serif;
$sidebarHeaderFont: Nexa, Hero, sans-serif;
$headerFont: $sidebarHeaderFont;

$gutterShadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
$gutterTransition: all 0.1s ease-out;
$gutterSeparator: 1px solid #aaa;

$gutterBG: #ccc;
$gutterColor: black;

$gutterDisabledColor: #bbb;

$gutterSelectedBG: #333;
$gutterSelectedColor: white;

$gutterHoverBG: $cmBabyBlue;
$gutterHoverColor: black;

$simpleBorder: 1px solid black;

$headerColor: white;
$headerBG: black;

$contentBG: #f8f8f8;

$mainBG: white;
$alternateBG: $cmBabyBlue;

$navWidth: 250px;

$gutterMonkey: url(../images/cruise-monkey-transparent-bg.png);

@import "ionic";

.icon {
	&.icon-cm {
		/* color: black; */
		color: $controlYellow;
		&.active {
			opacity: 1;
			color: $controlYellow;
		}
	}
}

.button {
	&.button-cm {
		color: $controlYellow;
		&.active {
			opacity: 1;
			color: $controlYellow;
		}
	}
}

.bar-bold {
	font-family: $sidebarHeaderFont;
	font-weight: bold;
	font-size: 26px;
}

body {
  font-family: $defaultFont;
	color: #444;
}

a:link,
a:visited,
a:hover {
	color: #000;
	text-decoration: none;
}

.bar-header {
	h1.title {
		font-size: 24px;
		font-weight: bolder;
	}
}

.nav > li.bottom {
	position: absolute;
	bottom: 0;
	border-top: $gutterSeparator;
	border-bottom: none;
}

header.bar.bar-header {
	.buttons {
		/*
		background-color: transparent;
		border-color: transparent;

		button {
			background-color: transparent;
			border-color: transparent;
		}
		*/

		.icon {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 26px 26px;
			width: 32px;
			height: 32px;
		}
	}
}
.icon-add          { background-image: url("#{$yellowSVG}/plus.svg")         }
.icon-arrow-right4 { background-image: url("#{$yellowSVG}/arrow-right4.svg") }
.icon-arrow-left4  { background-image: url("#{$yellowSVG}/arrow-left4.svg")  }


.add-event-form span.invalid {
	float: right;
	color: red;
}

.list-entry {
	border-bottom: $simpleBorder;
	padding: 10px;

	input {
		display: none;
	}

	input + label {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select:none;
		user-select:none;
		display: block;
		background:url("#{$greySVG}/star2.svg") no-repeat;
		background-position: center center;
		background-size:26px 26px;
		width: 32px;
		height: 32px;
	}

	.favorite input[type=checkbox] + label {
		background:url("#{$greySVG}/star2.svg") no-repeat;
	}

	.favorite input[type=checkbox]:checked + label {
		background:url("#{$yellowSVG}/star2.svg") no-repeat;
	}

	.trash input + label {
		background:url("#{$yellowSVG}/trash.svg") no-repeat;
	}

	.public input[type=checkbox] + label {
		background:url("#{$greySVG}/eye.svg") no-repeat;
	}

	.public input[type=checkbox]:checked + label {
		background:url("#{$yellowSVG}/eye.svg") no-repeat;
	}

	.edit input + label {
		background:url("#{$yellowSVG}/pencil.svg") no-repeat;
	}
}

#nav li.item a {
	display: inline-block;
	width: 100%;
	padding: 15px;
}

/*
 * Events
 */

.list {
	margin-bottom: 0px;
}

.event-list {
	font-family: $eventListFont;
	
	.odd {
		background-color: $mainBG;
	}
	.even {
		background-color: $alternateBG;
	}

	.header {
		font-family: $headerFont;
		font-size: 20px;
		padding: 5px;
		color: $headerColor;
		background-color: $headerBG;
	}
}

.summary {
	font-size: 15pt;
	font-weight: bold;
	padding: 2px;
	margin-right: 32px;
	min-height: 32px;
	vertical-align: middle;
}

.mine .summary {
	margin-right: 96px;
}

.createdBy,.time,.location {
	font-weight: bold;
	font-size: 12pt;
	padding: 2px;
}

.description {
	margin-top: 12px;
	padding: 2px;
	font-size: 12pt;
}

.name {
	font-size: 12pt;
	font-weight: bold;
}

.favorite,.trash,.public,.edit {
	float: right;
	display: inline-block;
	width: 32px;
	height: 32px;
	top: 2px;
	z-index: 1;
}

/*
 * Deck Plans
 */

.deck-plans {
	overflow-x: hidden;
	width: 100%;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;

	img {
		display: block;
		width: 90%;
		max-width: 500px;
		margin: auto;
		margin-bottom: 10px;
		padding: 10px;
		user-drag: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
	}
	div.arrow {
		position: absolute;
		width: 5%;
		min-width: 40px;
		top: 40px;
		bottom: 0;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			padding: 0;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.left {
		left: $navWidth;
	}
	.right {
		right: 0;
	}
}

/*
 * Pop-Ups
 */
.c-container {
	position: relative;
	width: 100%;
	height: 100%;
}
.c-centered {
	width: 280px;
	height: 200px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*
 * Event Pop-Up
 */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: $mainBG;
}

.add-event-form {
	table {
		width: 320px;
		overflow: auto;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		left: 0;
		right: 0;
	}
	h3 {
		padding: 5px;
		font-weight: 900;
	}
	td {
		padding: 5px;
	}
	.buttons {
		button: {
			display: inline-block;
		}
		text-align: right;
	}
}

form.add-event-form {
	position: relative;
	width: 100%;
	height: 100%;
}
