*.swp
.DS_Store
.cordova
.sass-cache
.staging
.tmp
app/bower_components
node_modules
xcuserdata
xcshareddata
/www/

# Android
.classpath
.project
.settings
platforms/android/bin
platforms/android/gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen

# generated www files
platforms/ios/www
platforms/android/assets/www
platforms/web/www
