# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

index.html
.DS_Store
.index.html
*.swp
.vscode
www.zip
npm-debug.log
build.json
bower_components/
node_modules/
platforms/
plugins/
cm
www/cm
temp
engine
