<style>
.mobile-content-inner {
	width: 100%;
	height: 100%;
}
.c-container {
	overflow: hidden;
}
.c-centered {
	width: 320px;
	height: 400px;
	margin-top: 0;
	padding: 5px;
}
</style>
<div class="c-container">
	<div class="c-centered">
		<p>CruiseMonkey is built on the following tools:</p>

		<ul>
			<li> <a href="http://phonegap.com/">PhoneGap</a> </li>
			<li> <a href="http://angularjs.org/">AngularJS</a> </li>
			<li> <a href="http://pouchdb.com/">PouchDB</a> </li>
			<li> <a href="http://modernizr.com/">Modernizr</a> </li>
			<li> <a href="http://eightmedia.github.io/hammer.js/">Hammer.js</a> </li>
			<li> <a href="http://momentjs.com/">Moment.js</a> </li>
			<li> <a href="http://log4javascript.org/">log4javascript</a> </li>
			<li> <a href="https://github.com/dreame4/angular-hammer">angular-hammer</a> </li>
			<li> <a href="https://github.com/ftlabs/fastclick">FastClick</a> </li>
			<li> <a href="https://github.com/herschel666/angular-mobile-frame">angular-mobile-frame</a> </li>
			<li> <a href="https://github.com/grevory/angular-local-storage">angular-local-storage</a> </li>
		</ul>
		
		<p>
			Thanks to Jonathan Coulton, Paul &amp; Storm, Scarface, plus all the folks that
			make our crazy shipboard IT stuff a success!
		</p>
	</div>
</div>