<content has-header="false" overflow-scroll="true" scroll="true">
	<div class="item item-text-wrap">Version: {{version}}</div>
	<div class="item item-text-wrap">
		<p>CruiseMonkey is built on the following tools:</p>

		<ul>
			<li> <a href="http://phonegap.com/" target="_system">PhoneGap</a> </li>
			<li> <a href="http://angularjs.org/" target="_system">AngularJS</a> </li>
			<li> <a href="http://pouchdb.com/" target="_system">PouchDB</a> </li>
			<li> <a href="http://modernizr.com/" target="_system">Modernizr</a> </li>
			<li> <a href="http://momentjs.com/" target="_system">Moment.js</a> </li>
			<li> <a href="http://log4javascript.org/" target="_system">log4javascript</a> </li>
			<li> <a href="https://github.com/grevory/angular-local-storage" target="_system">angular-local-storage</a> </li>
			<li> <a href="http://ionicframework.com/" target="_system">Ionic Framework</a> </li>
		</ul>
	</div>
	<div class="item item-text-wrap">
		<p>
			Thanks to Jonathan Coulton, Paul &amp; Storm, Scarface, plus all the folks that
			make our crazy shipboard IT stuff a success!
		</p>
		
</content>