<ion-view title="{{headerTitle}}">
<ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" overflow-scroll="true" scroll="true">
	<header class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search" ng-model="searchString" />
		</label>
		<button class="button button-clear" ng-if="searchString">
			<i class="icon ion-close-circled" ng-click="clearSearchString()"></i>
		</button>
	</header>
	<div class="event-list list">
		<span bindonce ng-repeat="amenity in amenities | amenityFilter:searchString">
			<div class="item item-divider header" bo-if="headerAmenities[amenity.getUniqueId()]" bo-text="'Deck ' + amenity.getDeck().getFloor()"></div>
			<a class="item item-icon-right item-text-wrap" ng-click="openAmenity($event, amenity)">
				<div class="summary" bo-text="amenity.getSummary()"></div>
				<div class="description" bo-show="amenity.getDescription()" bo-text="amenity.getDescription()"></div>
				<i bo-if="amenity.getIcon()" class="icon {{amenity.getIcon()}}"></i>
			</a>
		</span>
	</div>
</ion-content>
</ion-view>