<script type="text/ng-template" id="edit-event.html">
	<div class="modal">
		<header class="bar bar-header bar-dark">
			<h1 class="title">{{eventData.id? 'Edit':'Add an'}} Event</h1>
			<button class="button button-clear button-positive" ng-click="cancelModal($event)" ng-disabled="isDisabled">Cancel</button>
		</header>

		<content has-header="true" scroll="true" overflow-scroll="true" padded="false">
			<form name="form" class="add-event-form" novalidate>
				<input type="hidden" name="eId" value="{{eventData.id}}" />
				<input type="hidden" name="eType" value="{{eventData.type}}" />
				<div class="list">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Event Title</span> <span ng-show="form.eSummary.$invalid" class="invalid">Required.</span>
						<input type="text" ng-model="eventData.summary" name="eSummary" required />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Event Summary</span>
						<textarea type="text" ng-model="eventData.description" name="eDescription"></textarea>
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Event Start</span> <span ng-show="form.eStartDate.$invalid" class="invalid">Required.</span>
						<span><input type="datetime-local" ng-model="eventData.startDate" name="eStartDate" required /></span>
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Event End</span>
						<input type="datetime-local" ng-model="eventData.endDate" name="eEndDate" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Location</span>
						<input type="text" ng-model="eventData.location" name="eLocation" />
					</label>
					<label class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="eventData.isPublic" name="eIsPublic" />
						</label>
						Make Public?
					</label>
					<button class="button button-full button-positive" ng-click="saveModal(eventData)" ng-disabled="form.$invalid || !eventData.isValid()">Save</button>
			</form>
		</content>
	</div>
</script>
<content has-header="true" overflow-scroll="true" scroll="true" padding="false">
	<div class="bar item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search" ng-model="searchString" ng-change="searchChanged(searchString)" />
		</label>
		<button class="button button-clear" ng-if="searchString">
			<i class="icon ion-close-circled" ng-click="clearSearchString()"></i>
		</button>
	</div>
	<div class="event-list list">
		<span ng-repeat="day in entries">
			<div class="item item-divider header">{{prettyDate(day.date)}}</div>

			<span bindonce ng-repeat="entry in day.entries">
				<div id="{{entry.getId()}}" class="list-entry item item-text-wrap" ng-class="entry.isEven()? 'even':'odd'">
					<span class="item-note favorite" ng-show="(user.username &amp;&amp; user.username != entry.getUsername())">
						<button id="{{entry.getId()}}-favorite" ng-click="onFavoriteChanged(entry)" class="button button-cm button-icon icon" ng-class="entry.isFavorite()? 'active ion-ios7-heart':'ion-ios7-heart-outline'"></button>
					</span>
					<span class="item-note trash" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
						<button id="{{entry.getId()}}-trash" ng-click="trash(entry)" class="button button-cm button-icon icon active ion-ios7-trash"></button>
					</span>
					<span class="item-note public" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
						<button id="{{entry.getId()}}-public" ng-click="onPublicChanged(entry)" class="button button-cm button-icon icon active" ng-class="entry.isPublic()? 'ion-ios7-eye':'ion-ios7-eye-outline'"></button>
					</span>
					<span class="item-note edit" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
						<button id="{{entry.getId()}}-edit" ng-click="edit(entry)" class="button button-cm button-icon icon active ion-gear-a"></button>
					</span>
					<div class="summary" bo-text="entry.getSummary()"></div>
					<div class="time" bo-text="'Time: ' + entry.getDisplayTime()"></div>
					<div class="createdBy" bo-show="entry.getUsername() != 'official'" bo-text="'Created By: ' + entry.getUsername()"></div>
					<div class="location" bo-show="entry.getLocation()" bo-text="'Location: ' + entry.getLocation()"></div>
					<div class="description" bo-show="entry.getDescription()" bo-text="entry.getDescription()"></div>
				</div>
			</span>
		</span>
	</div>
	<div id="the-end" />
</content>
