<content has-header="false" overflow-scroll="true" scroll="true">
	<div class="list help">
		<div class="item item-divider">
			Event Types
		</div>
		<div class="item item-text-wrap">
			<p>
				There are 3 kinds of events:
			</p>
			<ul>
				<li>Official Events: Events that are an official part of the JoCo Cruise Crazy schedule.</li>
				<li>Unofficial Events: "Shadow cruise" events that are created by other sea monkeys.</li>
				<li>My Events: Events that you have either created yourself, or that you have favorited in the Official or Unofficial event lists.</li>
			</ul>
			<p>
				<br/>
				Note: you must log using your Twit-Arr account in to be able to create, edit, or favorite events.
			</p>
		</div>
		<div class="item item-divider">
			Event Legend
		</div>
		<div class="item item-icon-left item-text-wrap">
			<i class="icon icon-cm ion-ios7-heart"></i>
			Mark an official or unofficial event as a favorite.  This will cause it to show in your "My Events" list.
		</div>
		<div class="item item-icon-left item-text-wrap">
			<i class="icon icon-cm ion-ios7-trash"></i>
			Delete an event that you have created.
		</div>
		<div class="item item-icon-left item-text-wrap">
			<i class="icon icon-cm ion-ios7-eye"></i>
			Mark an event you have created as either public/visible or private/invisible.
		</div>
		<div class="item item-icon-left item-text-wrap">
			<i class="icon icon-cm ion-gear-a"></i>
			Edit/change an event you have created.
		</div>
	</div>
</content>