<content has-header="true" overflow-scroll="true" scroll="true">
	<header class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search Artists &amp; Songs" ng-model="searchString" ng-change="searchUpdated(searchString)" />
		</label>
	</header>
	<list>
		<div bindonce class="item" ng-repeat="entry in entries">
			<span bo-if="entry.artist" bo-text="entry.artist + ' - ' + entry.song" class="item-text-wrap"></span>
			<span bo-if="!entry.artist" class="disabled" bo-text="entry + ' more matches...'"></span>
		</div>
	</list>
</content>