<content has-header="true" overflow-scroll="true" scroll="true">
	<header class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search Artists and Songs" ng-model="searchString" ng-change="searchUpdated(searchString)" />
		</label>
	</header>
	<list>
		<a class="item" bindonce ng-repeat="entry in entries" ng-click="go(entry)">
			<div bo-text="entry.artist" class="item-text-wrap"></div>
		</a>
	</list>
</content>