<ion-content has-header="true" overflow-scroll="true" scroll="true">
	<header class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search Artists" ng-model="searchString" ng-change="searchUpdated(searchString)" />
		</label>
		<button class="button button-clear" ng-if="searchString">
			<i class="icon ion-close-circled" ng-click="clearSearchString()"></i>
		</button>
	</header>
	<ion-list>
		<a class="item" bindonce ng-repeat="entry in entries" ng-click="go(entry)">
			<div bo-text="entry.artist" class="item-text-wrap"></div>
		</a>
	</ion-list>
</ion-content>