<content has-header="true" overflow-scroll="true" scroll="true">
	<style>
		.artist {
			padding-left: 5px;
			padding-right: 5px;
			color: #666;
			background-color: #f2f2f2;
		}
	</style>
	<!--
	<header class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input type="search" placeholder="Search Artists and Songs" ng-model="searchString" ng-change="searchUpdated(searchString)" />
		</label>
	</header>
	-->
	<list>
		<a class="item" bindonce ng-repeat="entry in entries" bo-href="'#/karaoke/by-prefix/' + entry.prefix">
			<span bo-text="entry.prefix"></span>
			<span bo-html="entry.artist_count + ' artists'" class="artist"></span>
		</a>
	</list>
</content>