<content has-header="false" scroll="true" overflow-scroll="true" padded="false">
	<form name="loginForm" class="login-form">
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Username</span>
				<input type="text" autocapitalize="off" ng-model="user.username" name="uUsername" autofocus required />
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Password</span>
				<input type="password" autocapitalize="off" ng-model="user.password" name="uPassword" required />
			</label>
			<button class="button button-full button-positive" ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">Log In</button>
		</div>
	</form>
</content>
