<content has-header="true" overflow-scroll="true" scroll="true" on-infinite-scroll="loadMore">
	<list>
		<div class="card" ng-repeat="entry in entries">
			<div class="item item-divider item-text-wrap" ng-if="entry.message">{{getPhotoUrl(entry)}}</div>
			<div class="item item-image">
				<img ng-src="getPhotoUrl(entry)" />
			</div>
			<div class="item item-divider item-text-wrap" ng-if="entry.message">{{entry.message}}</div>
		</div>
	</list>
	<infinite-scroll></infinite-scroll>
	<!--
	<slide-box show-pager="false" on-slide-changed="slideChanged(index)">
		<slide ng-repeat="entry in entries">
			<div class="box card">
				<div class="item item-image">
					<img ng-src="getPhotoUrl(entry)" />
				</div>
				<div class="item item-divider item-text-wrap">{{entry.message}}</div>
			</div>
		</slide>
	</slide-box>
	-->
</content>