<!-- on-infinite-scroll="loadMore" -->
<ion-content has-header="true" overflow-scroll="false" scroll="true" on-refresh="reload()">
	<ion-refresher></ion-refresher>
	<ion-slide-box show-pager="false" active-slide="currentSlide" on-slide-changed="slideChanged(index)">
		<ion-slide bindonce ng-repeat="entry in entries">
			<div class="card">
				<div class="item item-divider item-text-wrap" bo-if="entry.message" bo-text="entry.username? ('@' + entry.username + ' ' + entry.message) : entry.message"></div>
				<div class="item item-image" ng-if="entry === currentEntry">
					<img bo-src="entry.url" />
				</div>
			</div>
		</ion-slide>
	</ion-slide-box>
</ion-content>
