<?xml version="3.9.2" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.raccoonfink.cruisemonkey" version="4.0.6">
	<name>CruiseMonkey</name>
	<description>Keep Track of Your Cruise</description>

	<author href="https://github.com/RangerRick/CruiseMonkey.git" email="ranger@befunk.com">Benjamin Reed</author>

	<!-- general preferences -->
	<preference name="phonegap-version" value="3.3.0" />

	<preference name="orientation" value="portrait" />
	<!-- <preference name="fullscreen" value="true" /> use default=false -->

	<!-- iOS preferences -->
	<!-- <preference name="target-device" value="universal" /> use default=universal -->
	<!-- <preference name="prerendered-icon" value="true" /> use default=true -->
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="false" />
	<!-- <preference name="exit-on-suspend" value="false" /> use default=false -->
	<preference name="exit-on-suspend" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- Android preferences -->
	<preference name="android-minSdkVersion" value="10" /> <!-- Android 2.3.3/2.3.4, see http://developer.android.com/guide/topics/manifest/uses-sdk-element.html#ApiLevels for details -->
	<!-- <preference name="android-maxSdkVersion" value="15" /> use default=unset -->
	<preference name="android-targetSdkVersion" value="16" />
	<preference name="android-installLocation" value="auto" />
	<!-- <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" /> use default -->
	<preference name="splash-screen-duration" value="20000" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="SplashScreen" value="splash"/>

	<access origin="*" />
</widget>
