<ion-modal-view>
	<ion-header-bar class="bar-stable bar-dark">
		<h1 class="title">About CruiseMonkey</h1>
		<button class="button button-icon icon ion-close-circled" ng-click="aboutModal.hide()"></button>
	</ion-header-bar>
	<ion-content has-header="true">
		<div class="item item-text-wrap">
			<h2>CruiseMonkey, version {{version}}.</h2>
			<p>
				Last replication update: {{(lastModified &amp;&amp; !lastModified.isSame(0))? lastModified.fromNow() : 'N/A'}}<br/>
				Last event update: {{(lastUpdatedEvent &amp;&amp; !lastUpdatedEvent.isSame(0))? lastUpdatedEvent.fromNow() : 'N/A'}}
			</p>
		</div>
		<div class="item item-text-wrap">
			<p>CruiseMonkey is built on the following tools:</p>

			<ul style="list-style: disc; padding-left: 10px">
				<li> <a ng-click="goToSite('http://phonegap.com/')">PhoneGap</a> </li>
				<li> <a ng-click="goToSite('http://angularjs.org/')">AngularJS</a> </li>
				<li> <a ng-click="goToSite('http://pouchdb.com/')">PouchDB</a> </li>
				<li> <a ng-click="goToSite('http://modernizr.com/')">Modernizr</a> </li>
				<li> <a ng-click="goToSite('http://momentjs.com/')">Moment.js</a> </li>
				<li> <a ng-click="goToSite('http://log4javascript.org/')">log4javascript</a> </li>
				<li> <a ng-click="goToSite('https://github.com/grevory/angular-local-storage')">angular-local-storage</a> </li>
				<li> <a ng-click="goToSite('http://ionicframework.com/')">Ionic Framework</a> </li>
				<li> <a ng-click="goToSite('http://www.beyondships.com/')">Beyond Ships</a> (Portions of the Amenities descriptions come from this site.)</li>
			</ul>
		</div>
		<div class="item item-text-wrap">
			<p>
				Special Thanks To:
			</p>
			<ul style="list-style: disc; padding-left: 10px">
				<li>Cynthia for testing &amp; supporting me while I worked on this during all our free time. :)</li>
				<li>The JoCo Cruise Crazy Home Office for making the cruise possible.</li>
				<li>All of the beta testers and seamonkeys, for helping make sure this app works, and for making the cruise awesome!</li>
			</ul>
		</div>
		<div class="item item-text-wrap">
			<p>Copyright &copy; 2012-2015, <a ng-click="goToSite('http://www.raccoonfink.com/')">Benjamin Reed</a>. All Rights Reserved.</p>
		</div>
	</ion-content>
</ion-modal-view>
