<ion-view view-title="About CruiseMonkey" hide-back-button="true">
	<ion-content has-header="true" scroll="true">
		<div class="list">
			<div class="card">
				<div class="item item-divider">Network Configuration</div>
				<form name="networkForm" class="network-form" novalidate>
					<div class="item item-text-wrap">
						Configure various advanced network options, including which servers to use.
					</div>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Database Host</span>
						<input type="text" name="databaseRoot" ng-model="settings.databaseRoot" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Database Name</span>
						<input type="text" name="databaseName" ng-model="settings.databaseName" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Twit-Arr URL</span>
						<input type="url" name="twitarrRoot" ng-model="settings.twitarrRoot" />
					</label>
					<div class="item item-checkbox" style="height: 50px" ng-if="isIos">
						<label class="checkbox" style="padding-top: 10px; padding-bottom: 10px; height: 50px">
							<input type="checkbox" name="openInChrome" ng-model="settings.openInChrome" />
							<span style="padding: 10px">Open URLs in Chrome?</span>
						</label>
					</div>
					<button class="button button-full button-positive" ng-click="saveSettings()" ng-disabled="form.$invalid || isUnchanged()">Save</button>
					<button class="button button-full button-assertive" ng-click="resetSettings()" ng-disabled="form.$invalid">Reset to Defaults</button>
				</form>
			</div>

			<div class="card">
				<div class="item item-divider">Force Database Sync</div>
				<div class="item item-text-wrap">
					The shipboard network can be pretty flaky, especially with hundreds of geeks hitting it at once.
					CruiseMonkey will attempt to force a sync every 15 minutes, but if you'd like to force one now,
					click this.<br />
					Last replication update: {{(lastModified &amp;&amp; !lastModified.isSame(0))? lastModified.fromNow() : 'N/A'}}
				</div>
				<a class="button button-full button-assertive" ng-click="forceSync()">Force Sync</a>
			</div>

			<div class="card">
				<div class="item item-divider">Reset Your Cache</div>
				<div class="item item-text-wrap">
					This will clear your local client cache and re-sync from the CruiseMonkey server.  Any events
					or favorites you have created will come back, as long as CruiseMonkey had previously synced them
					to the server.  If you are not online when you hit this, it <em>will</em> leave you with an
					empty CruiseMonkey!
				</div>
				<button class="button button-full button-positive" ng-click="resetDatabase()">Reset Cache</button>
			</div>

			<div class="card">
				<div class="item item-divider">Import Twit-Arr Certificate</div>
				<div class="item item-text-wrap">
					The Twit-Arr server is running using a self-signed SSL certificate.  If you encounter
					problems logging in using your Twit-Arr account, you may have to import the certificate
					by clicking this button.
				</div>
				<a class="button button-full button-assertive" ng-click="openCertificate()">Import</a>
			</div>
		</div>
	</ion-content>
</ion-view>
