<ion-view cache-view="false">
	<ion-header-bar class="bar-stable bar-dark" animation="no-animation">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title">Settings</h1>
	</ion-header-bar>
	<ion-content has-header="true" scroll="true">
		<div class="list">
			<div class="card">
				<div class="item item-divider yellow">Network Configuration</div>
				<form name="networkForm" class="network-form" novalidate>
					<div class="item item-text-wrap">
						Configure various advanced network options, including which servers to use.
					</div>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Database Host</span>
						<input type="url" name="databaseRoot" ng-model="settings.databaseRoot" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="off" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Database Name</span>
						<input type="text" name="databaseName" ng-model="settings.databaseName" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="off" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Twit-Arr URL</span>
						<input type="url" name="twitarrRoot" ng-model="settings.twitarrRoot" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="off" />
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">
							Status Check Interval
						</span>
						<div style="white-space: normal; margin-left: 20px; padding: 5px">
							how often CruiseMonkey checks for @mentions or seamail while you're using it
						</div>
						<div class="range row">
							<div class="col">
								<span>{{backgroundInterval}} seconds</span>
							</div>
							<input class="col" type="range" name="bgi" ng-model="$parent.backgroundInterval" min="10" max="360" value="{{backgroundInterval}}" />
						</div>
					</label>
					<button class="button button-full button-dark" ng-click="saveSettings()" ng-disabled="form.$invalid || isUnchanged()">Save</button>
					<button class="button button-full button-assertive" ng-click="resetSettings()" ng-disabled="form.$invalid">Reset to Defaults</button>
				</form>
			</div>

			<div class="card">
				<div class="item item-divider yellow">Force Database Sync</div>
				<div class="item item-text-wrap">
					The shipboard network can be pretty flaky, especially with hundreds of geeks hitting it at once.
					CruiseMonkey will attempt to force a sync every 15 minutes, but if you'd like to force one now,
					click this.<br />
					Last replication update: {{lastModified().isSame(0)? 'N/A' : lastModified().fromNow()}}
				</div>
				<a class="button button-full button-assertive" ng-click="forceSync()">Force Sync</a>
			</div>

			<div class="card">
				<div class="item item-divider yellow">Reset Your Cache</div>
				<div class="item item-text-wrap">
					This will clear your local client cache and re-sync from the CruiseMonkey server.  Any events
					or favorites you have created will come back, as long as CruiseMonkey had previously synced them
					to the server.  If you are not online when you hit this, it <em>will</em> leave you with an
					empty CruiseMonkey!
				</div>
				<button class="button button-full button-dark" ng-click="resetDatabase()">Reset Cache</button>
			</div>
		</div>
	</ion-content>
</ion-view>
