<ion-view hide-back-button="true">
	<ion-header-bar class="bar-stable bar-dark" animation="no-animation">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title" ng-click="scrollTop()">Amenities</h1>
	</ion-header-bar>
	<cm-search-bar placeholder="Search Amenities" ng-model="searchString" on-search-changed="onSearchChanged(searchString)"></cm-search-bar>
	<ion-content delegate-handle="amenities" ng-class="'has-subheader'" ng-click="closeKeyboard()">
		<ion-list class="event-list">
			<span ng-repeat="amenity in amenities | amenityFilter:searchString">
				<ion-item class="item-divider header yellow" ng-if="headerAmenities[amenity.getUniqueId()]" ng-bind-html="'Deck ' + amenity.getDeck().getFloor()"></ion-item>
				<a class="item item-icon-right item-text-wrap">
					<div class="summary" ng-bind-html="amenity.getSummary()"></div>
					<div class="description" ng-show="amenity.getDescription()" ng-bind-html="amenity.getDescription()"></div>
					<i ng-if="amenity.getIcon()" class="icon {{amenity.getIcon()}}"></i>
				</a>
			</span>
		</ion-list>
	</ion-content>
</ion-view>
