<div class="tags-wrapper">
	<div id="tagsList" class="tags-cloud">
		To: <span ng-repeat="selectedUser in selectedUsers" class="tag" style="padding: 4px 6px; display: inline">
			<div class="navy" style="display:inline" ng-click="removeTag($index)">{{selectedUser}} <i class="icon ion-close-circled"></i></div>
		</span>
		<input type="text" placeholder="User(s)" id="searchInput" ng-keydown="checkKeyDown($event)" class="form-control" ng-model="searchText" ng-change="search()" />
	</div>
	<ul id="suggestions" class="suggestions-list">
		<li ng-click="addToSelectedUsers($index)" ng-repeat="suggestion in suggestions" class="blockSpan" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">{{suggestion}}</li>
	</ul>
</div>
