<ion-view>
	<ion-header-bar class="bar-dark" animation="no-animation">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title" ng-click="scrollTop()">{{eventTitle}}</h1>
		<div class="buttons">
			<button class="button button-icon icon-yellow ion-ios-plus-empty" ng-click="addEvent()" ng-if="loggedIn"></button>
			<button class="button button-icon icon-yellow ion-ios-clock-outline" ng-click="goToNow()"></button>
		</div>
	</ion-header-bar>
	<cm-search-bar placeholder="Search Events" ng-model="searchString['my']" on-search-changed="onSearchChanged(searchString['my'])"></cm-search-bar>
	<ion-content scroll="true" padding="false" id="my-event-content" delegate-handle="my-event-scroll" ng-class="'has-subheader'" ng-click="closeKeyboard()">
		<ion-list class="event-list searchable">
			<span ng-repeat="entry in filteredEvents['my'] | eventFilter:searchString['my'] track by entry.getId()" id="my-{{entry.getId()}}">
				<ion-item ng-if="isDay(entry)" class="item-divider event-header">{{prettyDate(entry.day)}}</ion-item>
				<ion-item ng-if="!isDay(entry)" ng-class="'list-entry item-text-wrap ' + (entry.isEven()? 'even':'odd')">
					<span class="item-note">
						<button id="my-{{entry.getId()}}-favorite" ng-click="onFavoriteChanged(entry)" class="button button-small button-clear button-navy" ng-hide="user.username &amp;&amp; user.username === entry.getUsername()"><i class="icon" ng-class="entry.isFavorite()? 'active ion-ios-heart':'ion-ios-heart-outline'"></i></button>
						<button class="favorite button button-small button-clear button-navy" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())"><i ng-class="'icon ' + (entry.isPublic()? 'ion-eye':'ion-eye-disabled')"></i></button>
						<button class="button button-small button-clear button-navy" ng-click="openPopover($event, entry)" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())"><i class="icon ion-android-more-vertical"></i></button>
					</span>
					<span>
					<div class="summary" ng-bind-html="highlight(entry.getSummary(), searchString['my'])"></div>
					<div class="time">Time: {{entry.getDisplayTime()}}</div>
					<div class="createdBy" ng-if="entry.getUsername() != 'official'" ng-bind-html="'Created By: ' + entry.getUsername()" ng-click="openUser(entry.getUsername(), $event)"></div>
					<div class="location" ng-if="entry.getLocation()">Location: <span ng-bind-html="highlight(entry.getLocation(), searchString['my'])"></span></div>
					<div class="description" ng-if="entry.getDescription()" ng-bind-html="highlight(entry.getFormattedDescription(), searchString['my'])"></div>
					</span>
				</ion-item>
			</span>
			<div id="my-the-end"></div>
		</ion-list>
	</ion-content>
</ion-view>
