<ion-view view-title="Events">
<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon icon-cm ion-navicon"></button>
	<button class="button button-icon icon icon-cm ion-clock" ng-click="goToNow()"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
	<button class="button button-icon icon icon-cm ion-ios7-plus" ng-if="username" ng-click="activateModal($event)"></button>
</ion-nav-buttons>
<ion-content has-header="true" scroll="true" padding="false" id="event-content">
<style>
/*
.list-entry {
	left: 0;
	right: 0;
}
.event-header {
	left: 0;
	right: 0;
	height: 30px;
}
*/
</style>
<!--
	<div class="bar item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search" ng-model="searchString" ng-change="searchChanged(searchString)" />
		</label>
		<button class="button button-clear" ng-if="searchString">
			<i class="icon ion-close-circled" ng-click="clearSearchString()"></i>
		</button>
	</div>
	-->
	<ion-list class="event-list">
		<span
			collection-repeat="entry in entries track by entry.getId()"
			collection-item-width="'100%'"
			collection-item-height="getEntryHeight(entry, $index)"
			ng-style="{height: getEntryHeight(entry, $index), left: 0, right: 0 }"
		>
			<ion-item ng-if="isDay(entry)" class="item-divider event-header" style="height: 30px">{{prettyDate(entry.day)}}</ion-item>
			<ion-item ng-if="!isDay(entry)" ng-class="'list-entry ' + (entry.isEven()? 'even':'odd')">
				<span class="item-note favorite" ng-show="(user.username &amp;&amp; user.username != entry.getUsername())">
					<button id="{{entry.getId()}}-favorite" ng-click="onFavoriteChanged(entry)" class="button button-cm button-icon icon" ng-class="entry.isFavorite()? 'active ion-ios7-heart':'ion-ios7-heart-outline'"></button>
				</span>
				<span class="item-note trash" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
					<button id="{{entry.getId()}}-trash" ng-click="trash(entry)" class="button button-cm button-icon icon active ion-ios7-trash"></button>
				</span>
				<span class="item-note public" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
					<button id="{{entry.getId()}}-public" ng-click="onPublicChanged(entry)" class="button button-cm button-icon icon active" ng-class="entry.isPublic()? 'ion-ios7-eye':'ion-ios7-eye-outline'"></button>
				</span>
				<span class="item-note edit" ng-show="(user.username &amp;&amp; user.username == entry.getUsername())">
					<button id="{{entry.getId()}}-edit" ng-click="edit(entry)" class="button button-cm button-icon icon active ion-gear-a"></button>
				</span>
				<div class="summary">{{entry.getSummary()}}</div>
				<div class="time">Time: {{entry.getDisplayTime()}}</div>
				<div class="createdBy" ng-show="entry.getUsername() != 'official'" ng-text="'Created By: ' + entry.getUsername()"></div>
				<div class="location" ng-show="entry.getLocation()">Location: {{entry.getLocation()}}</div>
				<!-- <div class="description" ng-show="entry.getDescription()">{{entry.getDescription()}}</div> -->
			</ion-item>
		</span>
	</ion-list>
	<div id="the-end"></div>
</ion-content>
</ion-view>
