<ion-view>
	<!--
	<ion-nav-bar class="bar-stable bar-dark" animation="no-animation">
		<ion-nav-buttons side="primary">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
			<button class="button button-icon button-cm icon ion-ios-plus" ng-click="addEvent()" ng-if="loggedIn"></button>
			<button class="button button-icon button-cm icon ion-clock" ng-click="goToNow()"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	-->
	<ion-tabs class="tabs-dark">
		<style type="text/css">
			.tab-item {
				font-weight: 900;
			}
		</style>
		<ion-tab title="Official" class="yellow" href="#/app/events/official">
			<ion-nav-view name="events-official"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Unofficial"  class="yellow" href="#/app/events/unofficial">
			<ion-nav-view name="events-unofficial"></ion-nav-view>
		</ion-tab>
		<ion-tab title="All" class="yellow" href="#/app/events/all">
			<ion-nav-view name="events-all"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Mine" class="yellow" href="#/app/events/my" ng-if="loggedIn">
			<ion-nav-view name="events-my"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>