<ion-view view-title="{{eventTitle}}" hide-back-button="true">
<ion-nav-buttons side="secondary">
<button class="button button-icon button-cm icon ion-ios-plus" ng-click="addEvent()" ng-if="loggedIn()"></button>
	<button class="button button-icon button-cm icon ion-clock" ng-click="goToNow()"></button>
</ion-nav-buttons>
<ion-content has-header="true" scroll="true" padding="false" id="event-content" delegate-handle="eventScroll">
	<div class="bar item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search" ng-model="searchString" ng-change="searchChanged(searchString)" />
		</label>
		<button class="button button-clear icon ion-close-circled" ng-if="searchString" ng-click="clearSearchString()"></button>
	</div>
	<ion-list class="event-list">
		<span bindonce ng-repeat="entry in entries track by entry.getId()" id="{{entry.getId()}}">
			<ion-item ng-if="isDay(entry)" class="item-divider event-header">{{prettyDate(entry.day)}}</ion-item>
			<ion-item ng-if="!isDay(entry)" ng-class="'list-entry item-text-wrap ' + (entry.isEven()? 'even':'odd')">
				<span class="item-note">
					<button id="{{entry.getId()}}-favorite" ng-click="onFavoriteChanged(entry)" class="button button-small button-clear button-navy"><i class="icon" ng-class="entry.isFavorite()? 'active ion-ios-heart':'ion-ios-heart-outline'"></i></button>
					<br />
					<button class="button button-small button-clear button-navy" ng-click="openPopover($event, entry)" bo-show="(user.username &amp;&amp; user.username == entry.getUsername())"><i class="icon ion-android-more-vertical"></i></button>
				</span>
				<span>
				<div class="summary">{{entry.getSummary()}}</div>
				<div class="time">Time: {{entry.getDisplayTime()}}</div>
				<div class="createdBy" bo-show="entry.getUsername() != 'official'" bo-text="'Created By: ' + entry.getUsername()"></div>
				<div class="location" ng-show="entry.getLocation()">Location: {{entry.getLocation()}}</div>
				<div class="description" ng-show="entry.getDescription()">{{entry.getDescription()}}</div>
				</span>
			</ion-item>
		</span>
		<div id="the-end"></div>
	</ion-list>
</ion-content>
</ion-view>
