<ion-popover-view class="fit">
	<ion-content scroll="false">
		<ion-list>
			<ion-item ng-click="trash(entry)"><i class="icon ion-ios-trash"></i> Delete</ion-item>
			<ion-item ng-click="togglePublic(entry)"><i class="icon ion-eye" ng-class="entry.isPublic()? 'ion-eye-disabled':'ion-eye'"></i> <span ng-bind="entry.isPublic()? 'Make Private' : 'Make Public'"></span></ion-item>
			<ion-item ng-click="editEvent(entry)"><i class="icon ion-edit"></i> Edit</ion-item>
		</div>
	</ion-content>
</ion-popover-view>
