<ion-view class="karaoke">
	<ion-header-bar class="bar-stable bar-dark" animation="no-animation">
		<div class="buttons">
		</div>
		<h1 class="title" ng-click="scrollTop()">Karaoke</h1>
		<div class="buttons">
			<button class="button button-icon icon cm-icon-search" ng-click="showFilterBar()"></button>
		</div>
	</ion-header-bar>
	<style>
	.artist-entry {
		left: 0;
		right: 0;
		background-color: white;
		line-height: 22px;
	}
	</style>
	<!-- <cm-search-bar placeholder="Search Artists &amp; Songs" on-search-changed="onSearchUpdated(searchString)" ng-model="searchString"></cm-search-bar> -->
	<ion-content delegate-handle="karaoke-scroll" ng-click="closeKeyboard()">
		<div class="list searchable">
			<div class="item artist-entry"
				collection-repeat="entry in entries track by entry[0]"
				collection-item-width="'100%'"
				collection-item-height="60" ng-style="{height: '60px'}">
				<span class="artist" ng-bind-html="highlight(entry[1], searchString)"></span>
				<br>
				<span class="song" ng-bind-html="highlight(entry[2], searchString)"></span>
			</div>
		</div>
	</ion-content>
</ion-view>
