<ion-view cache-view="false" class="karaoke">
	<ion-header-bar class="bar-stable bar-dark" animation="no-animation">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title" ng-click="scrollTop()">Karaoke</h1>
	</ion-header-bar>
	<style>
	.artist-entry {
		left: 0;
		right: 0;
		background-color: white;
		line-height: 22px;
	}
	</style>
	<cm-search-bar placeholder="Search Artists &amp; Songs" on-search-changed="onSearchChanged(searchString)" ng-model="searchString"></cm-search-bar>
	<ion-content delegate-handle="karaoke-scroll" ng-class="'has-subheader'" ng-click="closeKeyboard()">
		<div class="list searchable">
			<div class="item artist-entry"
				collection-repeat="entry in entries track by entry[0]"
				collection-item-width="'100%'"
				collection-item-height="60" ng-style="{height: '60px'}">
				<span class="artist" ng-bind-html="highlight(entry[1], searchString)"></span>
				<br>
				<span class="song" ng-bind-html="highlight(entry[2], searchString)"></span>
			</div>
		</div>
	</ion-content>
</ion-view>
