<ion-view view-title="Karaoke Search" hide-back-button="true" cache-view="false">
	<ion-nav-bar class="bar-stable bar-dark" animation="no-animation">
		<ion-nav-buttons side="primary">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<style>
	.artist-entry {
		left: 0;
		right: 0;
		background-color: white;
		line-height: 22px;
	}
	</style>
	<ion-header-bar class="bar-subheader item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios7-search placeholder-icon"></i>
			<input id="search" type="search" placeholder="Search Artists &amp; Songs" ng-model="searchString" ng-change="searchUpdated(searchString)" />
		</label>
		<button class="button button-clear" ng-if="searchString" ng-click="clearSearchString()">
			<i class="icon ion-close-circled"></i>
		</button>
	</ion-header-bar>
	<ion-content has-header="true" scroll="true">
		<div class="list">
			<div class="item artist-entry"
				collection-repeat="entry in entries"
				collection-item-width="'100%'"
				collection-item-height="44" ng-style="{height: '44px'}">
				{{entry.artist}} - {{entry.song}}
			</div>
		</div>
	</ion-content>
</ion-view>
