<style>
.mobile-content-inner {
	width: 100%;
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
}
.centered {
	width: 100px;
	height: 20px;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
</style>
<ion-view title="Log Out" hide-back-button="true">
<ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" scroll="false">
<div class="container">
	<div class="centered">
		<h3>Logging Out...</h3>
	</div>
</div>
</ion-content>
</ion-view>