<script type="text/ng-template" id="menu/login.html">
  <ion-modal-view ng-class="'fit'">
    <ion-content scroll="false" ng-controller="CMLoginCtrl">
      <div class="item bar bar-dark">
        <h1 class="title">Log In</h1>
      </div>
      <form name="loginForm" class="list login-form" novalidate>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input id="loginUsername" type="text" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="off" ng-model="user.username" name="username" autofocus="autofocus" required />
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input id="loginPassword" type="password" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="off" ng-model="user.password" name="password" required />
        </label>
        <div class="item item-text-wrap">
          Need a Twit-arr account? <a ng-click="goToTwitarr()" style="text-decoration:underline;cursor:pointer">Create one here.</a><br>
          Lost your password? <a ng-click="goToLostPassword()" style="text-decoration:underline;cursor:pointer">Reset it here.</a>
        </div>
        <button class="button button-full button-positive" ng-click="logIn(user)" ng-disabled="form.$invalid || !canSubmit(user)" style="margin-top: 0; margin-bottom: 0">Log In</button>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
<ion-side-menus>
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
    <ion-nav-view name="menuContent" animation="no-animation"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large" width="180">
    <header class="bar bar-header bar-stable bar-dark" menu-close>
      <h1 class="title yellow">CruiseMonkey</h1>
    </header>
    <ion-content class="has-header" menu-close>
      <ion-list>
        <span ng-switch="lastTab">
				<a class="item" ng-click="go('app.events.official')"   ng-class="active('app.events.official')" ng-switch-when="app.events.official">Events</a>
        <a class="item" ng-click="go('app.events.unofficial')" ng-class="active('app.events.unofficial')" ng-switch-when="app.events.unofficial">Events</a>
        <a class="item" ng-click="go('app.events.all')"        ng-class="active('app.events.all')" ng-switch-when="app.events.all">Events</a>
        <a class="item" ng-click="go('app.events.my')"         ng-class="active('app.events.my')" ng-switch-when="app.events.my">Events</a>
        <a class="item" ng-click="go('app.events.official')"   ng-class="active('app.events.official')" ng-switch-default>Events</a>
        </span>
				<a class="item" ng-click="go('app.deck-plans')"        ng-class="active('app.deck-plans')">Deck Plans</a>
				<a class="item" ng-click="go('app.amenities')"         ng-class="active('app.amenities')">Amenities</a>
				<a class="item" ng-click="go('app.karaoke')"           ng-class="active('app.karaoke')">Karaoke</a>
        <a class="item" ng-click="go('app.twitarr-stream')"    ng-class="active('app.twitarr-stream')">Twit-Arr</a>

        <a class="item" ng-click="go('app.about')"             ng-class="active('app.about')">About</a>
        <a class="item" ng-click="go('app.settings')"          ng-class="active('app.settings')">Settings</a>

        <span ng-if="user.loggedIn">
          <a class="item" ng-click="go('app.seamail')"         ng-class="active('app.seamail')">Seamail<span ng-if="unreadSeamail" class="badge badge-assertive">{{unreadSeamail}}</span></a>
        </span>

        <a class="item" ng-if="user.loggedIn" ng-click="logOut()">Log Out</a>
        <a class="item" ng-if="!user.loggedIn" ng-click="logIn()">Log In</a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
