<ion-side-menus>
  <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
    <ion-nav-bar class="bar-stable bar-dark nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <header class="bar bar-header bar-stable bar-dark">
      <h1 class="title">CruiseMonkey</h1>
    </header>
    <ion-content class="has-header" menu-close>
      <ion-list>
				<ion-item nav-clear ui-sref="app.events"                            ui-sref-active="active">Events</ion-item>
				<ion-item nav-clear ui-sref="app.deck-plans"                        ui-sref-active="active">Deck Plans</ion-item>
				<ion-item nav-clear ui-sref="app.amenities"                         ui-sref-active="active">Amenities</ion-item>
				<ion-item nav-clear ui-sref="app.karaoke"                           ui-sref-active="active">Karaoke</ion-item>
				<ion-item nav-clear ui-sref="app.photos"                            ui-sref-active="active">Twit-Arr Pics</ion-item>
				<ion-item nav-clear ng-click="openSeamail()"                        ui-sref-active="active">
					Seamail
					<span class="badge badge-assertive" ng-if="seamailCount > 0">{{seamailCount}}</span>
				</ion-item>
				<ion-item nav-clear ui-sref="app.logout" ng-if="user.loggedIn"      ui-sref-active="active">Log Out ({{user.username}})</ion-item>
				<ion-item nav-clear ui-sref="app.login" ng-if="!user.loggedIn"      ui-sref-active="active">Log In</ion-item>
				<ion-item nav-clear ui-sref="app.advanced"                          ui-sref-active="active">Advanced</ion-item>
				<ion-item nav-clear ui-sref="app.help"                              ui-sref-active="active">Help</ion-item>
				<ion-item nav-clear ui-sref="app.about"                             ui-sref-active="active">About</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
