<ion-modal-view ng-class="'fit twitarr'">
	<ion-header-bar class="bar-dark">
		<h1 class="title">New Tweet</h1>
		<div class="buttons">
			<button class="button yellow icon ion-close-circled" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" ng-model="tweet.text" ng-trim="true" placeholder="Post Text" required ui-keypress="{13:'postTweet(tweet)'}">
				</label>
				<button class="button" ng-click="postTweet(tweet)" ng-disabled="photoUploading || !tweet.text">Send</button>
			</div>
			<div class="item item-image" ng-if="tweet.photo">
				<img ng-src="{{twitarrRoot}}photo/small_thumb/{{tweet.photo}}" />
			</div>
			<div class="item" ng-if="photoUploading">
				<progress value="{{photoUploading.loaded}}" max="{{photoUploading.total}}"></progress>
			</div>
			<div class="item">
				<span ng-if="!canCamera">
					<input type="file" ng-file-select="" ng-model="picFile" name="file" accept="image/*" ng-multiple="false" required="" size="0"></input>
					<button ng-click="uploadPic(picFile)">Upload</button>
				</span>
				<!--
				<form ng-if="!canCamera" method="post" action="{{uploadUrl}}" enctype="multipart/form-data">
					<input id="uploadInput" type="file" name="files" accept="image/*" />
					<input type="submit" class="button" value="Upload" />
				</form>
				-->
				<button class="button" ng-click="addPhoto()" ng-if="canCamera">Add Photo</button>
				<button class="button" ng-click="takePhoto()" ng-if="canCamera">Take Photo</button>
			</div>
		</ion-list>
	</ion-content>
</ion-modal-view>