<ion-modal-view ng-class="'fit twitarr'">
	<ion-header-bar class="bar-dark">
		<div class="buttons">
			<button class="button button-clear button-yellow" ng-click="closeModal()">Close</button>
		</div>
		<h1 class="title">New Tweet</h1>
		<div class="buttons">
			<button class="button button-clear button-yellow" ng-click="postTweet(tweet)" ng-disabled="photoUploading || !tweet.text">Send</button>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<textarea ng-model="tweet.text" ng-trim="true" placeholder="Post Text" required></textarea>
				</label>
			</div>
			<div class="item item-image" ng-if="tweet.photo">
				<img ng-src="{{twitarrRoot}}photo/small_thumb/{{tweet.photo}}" style="width: 100%" />
			</div>
			<div class="item" ng-if="photoUploading">
				<progress value="{{photoUploading.loaded}}" max="{{photoUploading.total}}"></progress>
			</div>
			<span>
				<div class="row">
					<div class="col col-80">
						<input type="file" ng-file-select="" ng-model="picFile" name="file" accept="image/*;capture=camera" ng-multiple="false" required="" capture="camera" ng-file-change="fileSelected($files,$event)"></input>
					</div>
					<!--
					<div class="col col-20">
						<button class="button button-clear button-dark" ng-click="uploadPic(picFile)" style="float: right"><i class="icon ion-ios-upload"></i></button>
					</div>
					-->
				</div>
			</span>
		</ion-list>
	</ion-content>
</ion-modal-view>