<ion-view class="seamail">
	<ion-header-bar class="bar-stable bar-dark" animation="no-animation">
		<div class="buttons">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</div>
		<h1 class="title" ng-click="scrollTop()">Seamail</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-compose" ng-click="newSeamail()"></button>
		</div>
	</ion-header-bar>
	<ion-content scroll="true" padding="false" delegate-handle="seamail" ng-click="closeKeyboard()">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
		<ion-list>
			<ion-item ng-repeat="seamail in seamails track by seamail.id" ng-click="openSeamail(seamail)">
				<div class="title"><i ng-if="seamail.is_unread" class="icon ion-record blue"></i> {{seamail.subject}}</div>
				<div class="messages">{{seamail.messages}}</div>
				<div class="time">{{seamail.timestamp.format('dddd, MMMM Do, h:mma')}}</div>
				<div class="users"><img ng-repeat="user in seamail.users" ng-src="{{twitarrRoot}}api/v2/user/photo/{{user.username}}" title="{{user.display_name}}" ng-click="openUser(user.username, $event)" /></div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
