<ion-header-bar class="item-input-inset" name="cm-search-bar" ng-class="'bar-subheader'">
	<label class="item-input-wrapper">
		<i class="icon ion-ios7-search placeholder-icon"></i>
		<input type="search" placeholder="{{placeholder}}" ng-model="searchStringInternal" ng-change="updateSearchString()" autocapitalize="off" />
	</label>
	<button class="button button-clear" ng-if="searchStringInternal" ng-click="clearSearchString()">
		<i class="icon ion-close-circled"></i>
	</button>
</ion-header-bar>
