<ion-modal-view>
	<ion-header-bar class="bar-dark">
		<div class="buttons">
			<button class="button button-yellow button-clear" ng-click="closeTweet()">Close</button>
			<h1 class="title">@{{openedTweet.author}}</h1>
		</div>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item-image">
				<img ng-src="{{openedPhoto}}">
			</ion-item>
			<ion-item class="item item-text-wrap">
				<p class="timeframe">{{openedTweet.timestamp.fromNow()}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>